{% extends 'receipts/receipt_base.html' %}
{% block content %}
  <h2>End of Financial Year Donation Receipt</h2>
  <p>
{% if is_eaae %}
This receipt lists the donations received from you by Effective Altruism Australia Environment Limited during the {{ two_digit_year|add:"-1" }}&ndash;{{ two_digit_year }} financial year. This receipt is provided for your convenience &ndash; we have separately sent receipts for each of your donations at the time they were received. On behalf of everyone you're helping, we thank you for your gift(s).
{% else %}
This receipt lists the donations received from you by Effective Altruism Australia Limited during the {{ two_digit_year|add:"-1" }}&ndash;{{ two_digit_year }} financial year. This receipt is provided for your convenience &ndash; we have separately sent receipts for each of your donations at the time they were received. On behalf of everyone you're helping, we thank you for your gift(s).
    {% endif %}
  </p>
  <br/>
  <h3>Details</h3>
  <p><b>Name</b>: {{ name }}</p>
  <p><b>Email</b>: {{ email }}</p>
  <p><b>Date received</b>: From 1 July 20{{ two_digit_year|add:"-1" }} to 30 June 20{{ two_digit_year }} </p>
  <p><b>Total Donation Amount</b>: ${{ total_amount }}</p>
{% endblock content %}
{% block above_footer %}
  <div style="margin-bottom: 40px;">
    <h4>Notes</h4>
    <p style="margin-top: -10px;">
      If you also made donations via cheque or via a workplace giving program, those donations are not listed on this receipt.</br>
      If you made donations from multiple email addresses, you'll receive a separate EOFY receipt at each email address.</p>
  </div>
  <hr/>
  <h3>Donating in late June?</h3>
  <p>
      Please note that according to the <a href="https://www.ato.gov.au/individuals-and-families/income-deductions-offsets-and-records/deductions-you-can-claim/gifts-and-donations">Australian Taxation Office (ATO)</a>, your donation is deductible for the financial year in which it was made, which is when the funds cleared <b><i>your</i></b> bank account. Therefore, if you made your donation by <b><i>midnight 30 June</i></b>, it is deductible for that financial year, even if our receipt is dated in early July (when we receive the funds). Additionally, if you are otherwise eligible for our June match campaign, your donation will be matched as long as it was made by <b><i>midnight 30 June 2024</i></b>. 
  </p>
{% endblock above_footer %}
