{% extends 'receipts/receipt_base.html' %}
{% block content %}
  <h2>End of Financial Year Donation Receipt</h2>
  <p>
    This receipt lists the donations received from you by Effective Altruism Australia during the {{ two_digit_year|add:"-1" }}&ndash;{{ two_digit_year }} financial year. This receipt is provided for your convenience &ndash; we have separately sent receipts for each of your donations at the time they were received. On behalf of everyone you're helping, we thank you for your gift(s).
  </p>
  <br/>
  <h3>Details</h3>
  <p><b>Name</b>: {{ name }}</p>
  <p><b>Email</b>: {{ email }}</p>
  <p><b>Date received</b>: From 1 July 20{{ two_digit_year|add:"-1" }} to 30 June 20{{ two_digit_year }} </p>
  <p><b>Total Donation Amount</b>: ${{ total_amount }}</p>
{% endblock content %}
{% block above_footer %}
  <div style="margin-bottom: 40px;">
    <h4>Notes</h4>
    <p style="margin-top: -10px;">
      If you also made donations via cheque or via a workplace giving program, those donations are not listed on this receipt.</br>
      If you made donations from multiple email addresses, you'll receive a separate EOFY receipt at each email address.</p>
  </div>
{% endblock above_footer %}