{% extends 'email_base.html' %}
{% block content %}
Dear {{ first_name }},
<br/><br/>
{% if is_eaae %}
Thank you so much for your support of Effective Altruism Australia Environment Limited. Please find attached a receipt for all donations received during the {{ two_digit_year|add:"-1" }}-{{ two_digit_year }} financial year.
{% else %}
Thank you so much for your support of Effective Altruism Australia Limited. Please find attached a receipt for all donations received during the {{ two_digit_year|add:"-1" }}-{{ two_digit_year }} financial year.
{% endif %}
<br/><br/>
Please feel welcome to reply to this address if you have any questions or thoughts and one of our team members will get back to you as soon as they can.
<br/><br/>
Best wishes,
<br/><br/>
{% if is_eaae %}
Effective Altruism Australia Environment Limited
{% else %}
Effective Altruism Australia Limited
{% endif %}
<hr/>
<h3>Donating in late June?</h3>
<p>
    Please note that according to the <a href="https://www.ato.gov.au/individuals-and-families/income-deductions-offsets-and-records/deductions-you-can-claim/gifts-and-donations">Australian Taxation Office (ATO)</a>, your donation is deductible for the financial year in which it was made, which is when the funds cleared <b><i>your</i></b> bank account. Therefore, if you made your donation by <b><i>midnight 30 June</i></b>, it is deductible for that financial year, even if our receipt is dated in early July (when we receive the funds). Additionally, if you are otherwise eligible for our June match campaign, your donation will be matched as long as it was made by <b><i>midnight 30 June 2024</i></b>. 
</p>
{% endblock content %}