{% extends 'receipts/receipt_base.html' %}
{% block content %}
<h3>Details of your individual donations</h3>
  <br/>
  <table style="width: 100%;">
    <thead style="text-align: left;">
      <th>Date</th><th>Amount</th><th>Payment method</th><th>Designation</th>
    </thead>
    <tbody>
      {% for donation in donations %}
        <tr>
          <td>{{ donation.date }}</td>
          <td>{{ donation.amount }}</td>
          <td>{{ donation.payment_method }}</td>
          <td>{{ donation.component_summary_str }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}