{% extends 'receipts/receipt_base.html' %}
{% block content %}
  <h2>Donation Receipt</h2>
  <p>
    On behalf of everyone you’re helping, thank you for your gift. This receipt serves as confirmation that your donation has been received and processed.
  </p>
  </br>
  <h3>Details</h3>
  <p><b>Receipt number</b>: {{ unique_reference }}</p>
  <p><b>Name</b>: {{ pledge.first_name }} {{ pledge.last_name }}</p>
  <p><b>Email</b>: {{ pledge.email }}</p>
  <p><b>Date received</b>: {{ transaction.date }}</p>
  <p><b>Donation Amount</b>: ${{ transaction.amount}}</p>
  <p><b>Designation</b>: {{ transaction.donation.component_summary_str }}</p>
  <hr/>
  <h3>Donating in late June?</h3>
  <p>
      Please note that according to the <a href="https://www.ato.gov.au/individuals-and-families/income-deductions-offsets-and-records/deductions-you-can-claim/gifts-and-donations">Australian Taxation Office (ATO)</a>, your donation is deductible for the financial year in which it was made, which is when the funds cleared <b><i>your</i></b> bank account. Therefore, if you made your donation by <b><i>midnight 30 June</i></b>, it is deductible for that financial year, even if our receipt is dated in early July (when we receive the funds). Additionally, if you are otherwise eligible for our June match campaign, your donation will be matched as long as it was made by <b><i>midnight 30 June 2024</i></b>. 
  </p>
{% endblock content %}
