{% extends 'email_base.html' %}
{% block content %}
    Dear {{ pledge.first_name }},
    <br/><br/>
    Thank you so much for your donation to Effective Altruism Australia, designated for {{ pledge.partner_charity_str }}.
    We confirm that we received the sum of ${{ transaction.amount }} on {{ date_str }}. Please find attached your
    receipt.
    {% if pledge.recurring and pledge.paid_by_card %}
    <br/><br/>
      To cancel your donation or update your credit card details, please do so here. {{ pledge.donor_portal }}
    {% endif %}
<br/><br/>
    For your convenience, we will also send you an end of financial year receipt by {{ eofy_receipt_date }}. Please feel
    welcome to reply to this address if you have any questions or thoughts and one of our volunteers will get back to
    you as soon as they can.
<br/><br/>
    Best wishes,
<br/><br/>
    Effective Altruism Australia

{% endblock content %}

{% block footercontent %}
{% if pledge.is_eaae %}
Thank you for your gift representing a donation to the EAA Environment Public Fund. The EAA Environment Public Fund is a public fund listed on the Register of Environmental Organisations under item 6.1.1 of subsection 30-55(1) of the Income Tax Assessment Act 1997. Donations of $2 or more are tax deductible in Australia.
{% else %}
Effective Altruism Australia (ABN {{ pledge.abn }}) is a Public Benevolent Institution endorsed as a Deductible Gift Recipient by the Australian Taxation Office. Donations of $2 or more are tax deductible in Australia.
{% endif %}
{% endblock footercontent %}
