[flake8]
# Comma-separated list of glob patterns to exclude from checks
exclude =
    # Git repository directory
    .git,
    # rope metadata directory
    .ropeproject

# Set the maximum length that any line (with some exceptions) may be
max-line-length = 119

# Print the total number of errors
count = False

# Count the number of each error/warning code and print a report
statistics = False


####################
### flake8-putty ###
####################

# Ignore long lines in migrations
putty-ignore =
    */migrations/*.py : E501


###########################
### flake8-tidy-imports ###
###########################

# Modules which shouldn't be used
banned-modules =
    subprocess = Use subprocess32 (drop-in replacement).


##############
### mccabe ###
##############

# Warn if the McCabe complexity of a function exceeds this value
max-complexity = 10

# vim: syntax=dosini cc=80 tw=79 ts=4 sw=4 sts=4 et sr
