# OS X stuff
.Trashes/
._*
.AppleDouble
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.VolumeIcon.icns
# Icon must end with two carriage returns (\r)
Icon

# Windows stuff
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db

# Vim files
*~
*.swp

# Emacs files
\#*.*#
.#*

# Log files
*.log
logs/

# Temp files
*.tmp
tmp/

# Config files
local_settings.py
salt_settings.py

# Secrets
secrets/

# Python
*.py[cod]
*.ipynb
celerybeat-schedule
ipynb_checkpoints/
venv/

# PyCharm
.idea/

# Rope
.ropeproject/

# Uploaded files
/media/uploads