.ast-no-sidebar .entry-content .alignfull {
  margin-left: calc( -50vw + 50%);
  margin-right: calc( -50vw + 50%);
  max-width: 100vw;
  width: 100vw;
}
.ast-no-sidebar .entry-content .alignwide {
  margin-left: calc(-41vw + 50%);
  margin-right: calc(-41vw + 50%);
  max-width: unset;
  width: unset;
}
.ast-no-sidebar .entry-content .alignfull .alignfull,
.ast-no-sidebar .entry-content .alignfull .alignwide,
.ast-no-sidebar .entry-content .alignwide .alignfull,
.ast-no-sidebar .entry-content .alignwide .alignwide,
.ast-no-sidebar .entry-content .wp-block-column .alignfull,
.ast-no-sidebar .entry-content .wp-block-column .alignwide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-gallery,
.blocks-gallery-grid {
  margin: 0;
}
.wp-block-separator {
  max-width: 100px;
}
.wp-block-separator.is-style-wide,
.wp-block-separator.is-style-dots {
  max-width: none;
}
.entry-content .has-2-columns .wp-block-column:first-child {
  padding-right: 10px;
}
.entry-content .has-2-columns .wp-block-column:last-child {
  padding-left: 10px;
}
@media (max-width: 782px) {
  .entry-content .wp-block-columns .wp-block-column {
    flex-basis: 100%;
  }
  .entry-content .has-2-columns .wp-block-column:first-child {
    padding-right: 0;
  }
  .entry-content .has-2-columns .wp-block-column:last-child {
    padding-left: 0;
  }
}
body .entry-content .wp-block-latest-posts {
  margin-left: 0;
}
body .entry-content .wp-block-latest-posts li {
  list-style: none;
}
.ast-no-sidebar .ast-container .entry-content .wp-block-latest-posts {
  margin-left: 0;
}
.ast-header-break-point .entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
}
.entry-content .blocks-gallery-item img {
  margin-bottom: auto;
}
.wp-block-pullquote {
  border-top: 4px solid #555d66;
  border-bottom: 4px solid #555d66;
  color: #40464d;
}
:root {
  --ast-container-default-xlg-padding:6.67em;
  --ast-container-default-lg-padding:5.67em;
  --ast-container-default-slg-padding:4.34em;
  --ast-container-default-md-padding:3.34em;
  --ast-container-default-sm-padding:6.67em;
  --ast-container-default-xs-padding:2.4em;
  --ast-container-default-xxs-padding:1.4em;
  --ast-code-block-background:#EEEEEE;
  --ast-comment-inputs-background:#FAFAFA;
}
html {
  font-size:112.5%;
}
a,
.page-title {
  color:#498fb3;
}
a:hover,
a:focus {
  color:var(--ast-global-color-1);
}
body,
button,
input,
select,
textarea,
.ast-button,
.ast-custom-button {
  font-family:'Mukta',sans-serif;
  font-weight:400;
  font-size:18px;
  font-size:1rem;
  line-height:1.4em;
}
blockquote {
  color:var(--ast-global-color-3);
}
p,
.entry-content p {
  margin-bottom:1em;
}
h1,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6,
.site-title,
.site-title a {
  font-family:'Mukta',sans-serif;
  font-weight:600;
}
.site-title {
  font-size:35px;
  font-size:1.9444444444444rem;
  display:none;
}
header .custom-logo-link img {
  max-width:250px;
}
.astra-logo-svg {
  width:250px;
}
.site-header .site-description {
  font-size:15px;
  font-size:0.83333333333333rem;
  display:none;
}
.entry-title {
  font-size:30px;
  font-size:1.6666666666667rem;
}
h1,
.entry-content h1 {
  font-size:3.052em;
  font-family:'Mukta',sans-serif;
  line-height:1.4em;
}
h2,
.entry-content h2 {
  font-size:2.44em;
  font-family:'Mukta',sans-serif;
  line-height:1.25em;
}
h3,
.entry-content h3 {
  font-size:1.953em;
  font-family:'Mukta',sans-serif;
  line-height:1.2em;
}
h4,
.entry-content h4 {
  font-size:1.563em;
  line-height:1.2em;
  font-family:'Mukta',sans-serif;
}
h5,
.entry-content h5 {
  font-size:1.25em;
  line-height:1.2em;
  font-family:'Mukta',sans-serif;
}
h6,
.entry-content h6 {
  font-size:1em;
  line-height:1.25em;
  font-family:'Mukta',sans-serif;
}
::selection {
  background-color:#498fb3;
  color:#ffffff;
}
body,
h1,
.entry-title a,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6 {
  color:var(--ast-global-color-3);
}
.tagcloud a:hover,
.tagcloud a:focus,
.tagcloud a.current-item {
  color:#ffffff;
  border-color:#498fb3;
  background-color:#498fb3;
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color:#498fb3;
}
input[type="radio"]:checked,
input[type=reset],
input[type="checkbox"]:checked,
input[type="checkbox"]:hover:checked,
input[type="checkbox"]:focus:checked,
input[type=range]::-webkit-slider-thumb {
  border-color:#498fb3;
  background-color:#498fb3;
  box-shadow:none;
}
.site-footer a:hover + .post-count,
.site-footer a:focus + .post-count {
  background:#498fb3;
  border-color:#498fb3;
}
.single .nav-links .nav-previous,
.single .nav-links .nav-next {
  color:#498fb3;
}
.entry-meta,
.entry-meta * {
  line-height:1.45;
  color:#498fb3;
}
.entry-meta a:hover,
.entry-meta a:hover *,
.entry-meta a:focus,
.entry-meta a:focus *,
.page-links > .page-link,
.page-links .page-link:hover,
.post-navigation a:hover {
  color:var(--ast-global-color-1);
}
#cat option,
.secondary .calendar_wrap thead a,
.secondary .calendar_wrap thead a:visited {
  color:#498fb3;
}
.secondary .calendar_wrap #today,
.ast-progress-val span {
  background:#498fb3;
}
.secondary a:hover + .post-count,
.secondary a:focus + .post-count {
  background:#498fb3;
  border-color:#498fb3;
}
.calendar_wrap #today > a {
  color:#ffffff;
}
.page-links .page-link,
.single .post-navigation a {
  color:#498fb3;
}
.widget-title,
.widget .wp-block-heading {
  font-size:25px;
  font-size:1.3888888888889rem;
  color:var(--ast-global-color-3);
}
.single .ast-author-details .author-title {
  color:var(--ast-global-color-1);
}
a:focus-visible,
.ast-menu-toggle:focus-visible,
.site .skip-link:focus-visible,
.wp-block-loginout input:focus-visible,
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper,
.ast-header-navigation-arrow:focus-visible,
.woocommerce .wc-proceed-to-checkout > .checkout-button:focus-visible,
.woocommerce .woocommerce-MyAccount-navigation ul li a:focus-visible,
.ast-orders-table__row .ast-orders-table__cell:focus-visible,
.woocommerce .woocommerce-order-details .order-again > .button:focus-visible,
.woocommerce .woocommerce-message a.button.wc-forward:focus-visible,
.woocommerce #minus_qty:focus-visible,
.woocommerce #plus_qty:focus-visible,
a#ast-apply-coupon:focus-visible,
.woocommerce .woocommerce-info a:focus-visible,
.woocommerce .astra-shop-summary-wrap a:focus-visible,
.woocommerce a.wc-forward:focus-visible,
#ast-apply-coupon:focus-visible,
.woocommerce-js .woocommerce-mini-cart-item a.remove:focus-visible {
  outline-style:dotted;
  outline-color:inherit;
  outline-width:thin;
  border-color:transparent;
}
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus,
.wp-block-search__input:focus,
[data-section="section-header-mobile-trigger"] .ast-button-wrap .ast-mobile-menu-trigger-minimal:focus,
.ast-mobile-popup-drawer.active .menu-toggle-close:focus,
.woocommerce-ordering select.orderby:focus,
#ast-scroll-top:focus,
#coupon_code:focus,
.woocommerce-page #comment:focus,
.woocommerce #reviews #respond input#submit:focus,
.woocommerce a.add_to_cart_button:focus,
.woocommerce .button.single_add_to_cart_button:focus,
.woocommerce .woocommerce-cart-form button:focus,
.woocommerce .woocommerce-cart-form__cart-item .quantity .qty:focus,
.woocommerce .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .woocommerce-input-wrapper > .input-text:focus,
.woocommerce #order_comments:focus,
.woocommerce #place_order:focus,
.woocommerce .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .woocommerce-input-wrapper > .input-text:focus,
.woocommerce .woocommerce-MyAccount-content form button:focus,
.woocommerce .woocommerce-MyAccount-content .woocommerce-EditAccountForm .woocommerce-form-row .woocommerce-Input.input-text:focus,
.woocommerce .ast-woocommerce-container .woocommerce-pagination ul.page-numbers li a:focus,
body #content .woocommerce form .form-row .select2-container--default .select2-selection--single:focus,
#ast-coupon-code:focus,
.woocommerce.woocommerce-js .quantity input[type=number]:focus,
.woocommerce-js .woocommerce-mini-cart-item .quantity input[type=number]:focus,
.woocommerce p#ast-coupon-trigger:focus {
  border-style:dotted;
  border-color:inherit;
  border-width:thin;
  outline-color:transparent;
}
.main-header-menu .menu-link,
.ast-header-custom-item a {
  color:var(--ast-global-color-3);
}
.main-header-menu .menu-item:hover > .menu-link,
.main-header-menu .menu-item:hover > .ast-menu-toggle,
.main-header-menu .ast-masthead-custom-menu-items a:hover,
.main-header-menu .menu-item.focus > .menu-link,
.main-header-menu .menu-item.focus > .ast-menu-toggle,
.main-header-menu .current-menu-item > .menu-link,
.main-header-menu .current-menu-ancestor > .menu-link,
.main-header-menu .current-menu-item > .ast-menu-toggle,
.main-header-menu .current-menu-ancestor > .ast-menu-toggle {
  color:#498fb3;
}
.header-main-layout-3 .ast-main-header-bar-alignment {
  margin-right:auto;
}
.header-main-layout-2 .site-header-section-left .ast-site-identity {
  text-align:left;
}
.ast-logo-title-inline .site-logo-img {
  padding-right:1em;
}
.site-logo-img img {
  transition:all 0.2s linear;
}
.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle {
  background:transparent;
  color:#498fb3;
}
.ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle {
  background:transparent;
  border:1px solid #498fb3;
  color:#498fb3;
}
.ast-header-break-point .ast-mobile-menu-buttons-fill.menu-toggle {
  background:#498fb3;
}
.ast-page-builder-template .hentry {
  margin: 0;
}
.ast-page-builder-template .site-content > .ast-container {
  max-width: 100%;
  padding: 0;
}
.ast-page-builder-template .site-content #primary {
  padding: 0;
  margin: 0;
}
.ast-page-builder-template .no-results {
  text-align: center;
  margin: 4em auto;
}
.ast-page-builder-template .ast-pagination {
  padding: 2em;
}
.ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {
  margin-top: 0;
}
.ast-page-builder-template .entry-header.ast-header-without-markup {
  margin-top: 0;
  margin-bottom: 0;
}
.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {
  margin-bottom: 0;
}
.ast-page-builder-template.single .post-navigation {
  padding-bottom: 2em;
}
.ast-page-builder-template.single-post .site-content > .ast-container {
  max-width: 100%;
}
.ast-page-builder-template .entry-header {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.single.ast-page-builder-template .entry-header {
  padding-left: 20px;
  padding-right: 20px;
}
.ast-page-builder-template .ast-archive-description {
  margin: 4em auto 0;
  padding-left: 20px;
  padding-right: 20px;
}
.ast-page-builder-template.ast-no-sidebar .entry-content .alignwide {
  margin-left: 0;
  margin-right: 0;
}
.footer-adv .footer-adv-overlay {
  border-top-style:solid;
  border-top-color:#7a7a7a;
}
.wp-block-buttons.aligncenter {
  justify-content:center;
}
@media (max-width:782px) {
  .entry-content .wp-block-columns .wp-block-column {
    margin-left:0px;
  }
}
.wp-block-image.aligncenter {
  margin-left:auto;
  margin-right:auto;
}
.wp-block-table.aligncenter {
  margin-left:auto;
  margin-right:auto;
}
@media (max-width:768px) {
  .ast-separate-container #primary,
  .ast-separate-container #secondary {
    padding:1.5em 0;
  }
  #primary,
  #secondary {
    padding:1.5em 0;
    margin:0;
  }
  .ast-left-sidebar #content > .ast-container {
    display:flex;
    flex-direction:column-reverse;
    width:100%;
  }
  .ast-separate-container .ast-article-post,
  .ast-separate-container .ast-article-single {
    padding:1.5em 2.14em;
  }
  .ast-author-box img.avatar {
    margin:20px 0 0 0;
  }
}
@media (min-width:769px) {
  .ast-separate-container.ast-right-sidebar #primary,
  .ast-separate-container.ast-left-sidebar #primary {
    border:0;
  }
  .search-no-results.ast-separate-container #primary {
    margin-bottom:4em;
  }
}
.elementor-button-wrapper .elementor-button {
  border-style:solid;
  text-decoration:none;
  border-top-width:0;
  border-right-width:0;
  border-left-width:0;
  border-bottom-width:0;
}
body .elementor-button.elementor-size-sm,
body .elementor-button.elementor-size-xs,
body .elementor-button.elementor-size-md,
body .elementor-button.elementor-size-lg,
body .elementor-button.elementor-size-xl,
body .elementor-button {
  padding-top:20px;
  padding-right:30px;
  padding-bottom:20px;
  padding-left:30px;
}
.elementor-button-wrapper .elementor-button {
  border-color:#498fb3;
  background-color:#498fb3;
}
.elementor-button-wrapper .elementor-button:hover,
.elementor-button-wrapper .elementor-button:focus {
  color:#ffffff;
  background-color:#62add3;
  border-color:#62add3;
}
.wp-block-button .wp-block-button__link ,
.elementor-button-wrapper .elementor-button,
.elementor-button-wrapper .elementor-button:visited {
  color:#ffffff;
}
.elementor-button-wrapper .elementor-button {
  line-height:1em;
}
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-block-button__link:focus {
  color:#ffffff;
  background-color:#62add3;
  border-color:#62add3;
}
.elementor-widget-heading h1.elementor-heading-title {
  line-height:1.4em;
}
.elementor-widget-heading h2.elementor-heading-title {
  line-height:1.25em;
}
.elementor-widget-heading h3.elementor-heading-title {
  line-height:1.2em;
}
.elementor-widget-heading h4.elementor-heading-title {
  line-height:1.2em;
}
.elementor-widget-heading h5.elementor-heading-title {
  line-height:1.2em;
}
.elementor-widget-heading h6.elementor-heading-title {
  line-height:1.25em;
}
.wp-block-button .wp-block-button__link {
  border-top-width:0;
  border-right-width:0;
  border-left-width:0;
  border-bottom-width:0;
  border-color:#498fb3;
  background-color:#498fb3;
  color:#ffffff;
  font-family:inherit;
  font-weight:inherit;
  line-height:1em;
  padding-top:20px;
  padding-right:30px;
  padding-bottom:20px;
  padding-left:30px;
}
.menu-toggle,
button,
.ast-button,
.ast-custom-button,
.button,
input#submit,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-style:solid;
  border-top-width:0;
  border-right-width:0;
  border-left-width:0;
  border-bottom-width:0;
  color:#ffffff;
  border-color:#498fb3;
  background-color:#498fb3;
  padding-top:20px;
  padding-right:30px;
  padding-bottom:20px;
  padding-left:30px;
  font-family:inherit;
  font-weight:inherit;
  line-height:1em;
}
button:focus,
.menu-toggle:hover,
button:hover,
.ast-button:hover,
.ast-custom-button:hover .button:hover,
.ast-custom-button:hover ,
input[type=reset]:hover,
input[type=reset]:focus,
input#submit:hover,
input#submit:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color:#ffffff;
  background-color:#62add3;
  border-color:#62add3;
}
@media (max-width:768px) {
  .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
    display:inline-block;
  }
  .ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon {
    margin:0;
  }
  .ast-comment-avatar-wrap img {
    max-width:2.5em;
  }
  .ast-separate-container .ast-comment-list li.depth-1 {
    padding:1.5em 2.14em;
  }
  .ast-separate-container .comment-respond {
    padding:2em 2.14em;
  }
  .ast-comment-meta {
    padding:0 1.8888em 1.3333em;
  }
}
@media (min-width:544px) {
  .ast-container {
    max-width:100%;
  }
}
@media (max-width:544px) {
  .ast-separate-container .ast-article-post,
  .ast-separate-container .ast-article-single,
  .ast-separate-container .comments-title,
  .ast-separate-container .ast-archive-description {
    padding:1.5em 1em;
  }
  .ast-separate-container #content .ast-container {
    padding-left:0.54em;
    padding-right:0.54em;
  }
  .ast-separate-container .ast-comment-list li.depth-1 {
    padding:1.5em 1em;
    margin-bottom:1.5em;
  }
  .ast-separate-container .ast-comment-list .bypostauthor {
    padding:.5em;
  }
  .ast-search-menu-icon.ast-dropdown-active .search-field {
    width:170px;
  }
  .site-branding img,
  .site-header .site-logo-img .custom-logo-link img {
    max-width:100%;
  }
}
.main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button,
.ast-theme-transparent-header .main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
  font-family:inherit;
  font-weight:600;
  line-height:1.5;
  text-transform:none;
}
.main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
  color:#498fb3;
  background-color:#ffffff;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:20px;
  padding-right:20px;
  border-style:solid;
  border-color:#498fb3;
  border-top-width:2px;
  border-right-width:2px;
  border-left-width:2px;
  border-bottom-width:2px;
}
.main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button:hover {
  color:#ffffff;
  background-color:#498fb3;
}
.ast-theme-transparent-header .main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
  border-style:solid;
}
.ast-no-sidebar.ast-separate-container .entry-content .alignfull {
  margin-left: -6.67em;
  margin-right: -6.67em;
  width: auto;
}
@media (max-width: 1200px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -2.4em;
    margin-right: -2.4em;
  }
}
@media (max-width: 768px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -2.14em;
    margin-right: -2.14em;
  }
}
@media (max-width: 544px) {
  .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -1em;
    margin-right: -1em;
  }
}
.ast-no-sidebar.ast-separate-container .entry-content .alignwide {
  margin-left: -20px;
  margin-right: -20px;
}
.ast-no-sidebar.ast-separate-container .entry-content .wp-block-column .alignfull,
.ast-no-sidebar.ast-separate-container .entry-content .wp-block-column .alignwide {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width:768px) {
  .site-title {
    display:none;
  }
  .site-header .site-description {
    display:none;
  }
  .entry-title {
    font-size:30px;
  }
  h1,
  .entry-content h1 {
    font-size:30px;
  }
  h2,
  .entry-content h2 {
    font-size:25px;
  }
  h3,
  .entry-content h3 {
    font-size:20px;
  }
}
@media (max-width:544px) {
  .site-title {
    display:none;
  }
  .site-header .site-description {
    display:none;
  }
  .entry-title {
    font-size:30px;
  }
  h1,
  .entry-content h1 {
    font-size:30px;
  }
  h2,
  .entry-content h2 {
    font-size:25px;
  }
  h3,
  .entry-content h3 {
    font-size:20px;
  }
  header .custom-logo-link img,
  .ast-header-break-point .site-branding img,
  .ast-header-break-point .custom-logo-link img {
    max-width:180px;
  }
  .astra-logo-svg {
    width:180px;
  }
  .ast-header-break-point .site-logo-img .custom-mobile-logo-link img {
    max-width:180px;
  }
}
@media (max-width:768px) {
  html {
    font-size:102.6%;
  }
}
@media (max-width:544px) {
  html {
    font-size:102.6%;
  }
}
@media (min-width:769px) {
  .ast-container {
    max-width:1240px;
  }
}
@font-face {
  font-family: "Astra";
  src: url(https://effectivealtruism.org.au/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),
  url(https://effectivealtruism.org.au/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),
  url(https://effectivealtruism.org.au/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@media (max-width:1100px) {
  .main-header-bar .main-header-bar-navigation {
    display:none;
  }
}
.ast-desktop .main-header-menu.submenu-with-border .sub-menu,
.ast-desktop .main-header-menu.submenu-with-border .astra-full-megamenu-wrapper {
  border-color:var(--ast-global-color-5);
}
.ast-desktop .main-header-menu.submenu-with-border .sub-menu {
  border-top-width:20px;
  border-bottom-width:20px;
  border-style:solid;
}
.ast-desktop .main-header-menu.submenu-with-border .sub-menu .sub-menu {
  top:-20px;
}
.ast-desktop .main-header-menu.submenu-with-border .sub-menu .menu-link,
.ast-desktop .main-header-menu.submenu-with-border .children .menu-link {
  border-bottom-width:0px;
  border-style:solid;
  border-color:#eaeaea;
}
.ast-small-footer {
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#7a7a7a;
}
.ast-small-footer-wrap {
  text-align:center;
}
.ast-header-break-point .main-navigation ul .button-custom-menu-item .menu-link {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}
.button-custom-menu-item .ast-custom-button-link .ast-custom-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.button-custom-menu-item .ast-custom-button-link .ast-custom-button:hover {
  transition: all 0.1s ease-in-out;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {
  display: none;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
  padding: 0;
  display: block;
  overflow: hidden;
}
.ast-header-break-point .ast-header-custom-item .widget:last-child {
  margin-bottom: 1em;
}
.ast-header-custom-item .widget {
  margin: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
.ast-header-custom-item .widget p {
  margin-bottom: 0;
}
.ast-header-custom-item .widget li {
  width: auto;
}
.ast-header-custom-item-inside .button-custom-menu-item .menu-link {
  display: none;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .ast-custom-button-link {
  display: none;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .menu-link {
  display: block;
}
.ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {
  margin-right: 1em;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field,
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {
  width: 100%;
  padding-right: 5.5em;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-radius: 0;
}
.ast-header-break-point .ast-header-custom-item .ast-masthead-custom-menu-items {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.astra-icon-down_arrow::after {
  content: "\e900";
  font-family: Astra;
}
.astra-icon-close::after {
  content: "\e5cd";
  font-family: Astra;
}
.astra-icon-drag_handle::after {
  content: "\e25d";
  font-family: Astra;
}
.astra-icon-format_align_justify::after {
  content: "\e235";
  font-family: Astra;
}
.astra-icon-menu::after {
  content: "\e5d2";
  font-family: Astra;
}
.astra-icon-reorder::after {
  content: "\e8fe";
  font-family: Astra;
}
.astra-icon-search::after {
  content: "\e8b6";
  font-family: Astra;
}
.astra-icon-zoom_in::after {
  content: "\e56b";
  font-family: Astra;
}
.astra-icon-check-circle::after {
  content: "\e901";
  font-family: Astra;
}
.astra-icon-shopping-cart::after {
  content: "\f07a";
  font-family: Astra;
}
.astra-icon-shopping-bag::after {
  content: "\f290";
  font-family: Astra;
}
.astra-icon-shopping-basket::after {
  content: "\f291";
  font-family: Astra;
}
.astra-icon-circle-o::after {
  content: "\e903";
  font-family: Astra;
}
.astra-icon-certificate::after {
  content: "\e902";
  font-family: Astra;
}
blockquote {
  padding: 1.2em;
}
:root .has-ast-global-color-0-color {
  color:var(--ast-global-color-0);
}
:root .has-ast-global-color-0-background-color {
  background-color:var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-color {
  color:var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-background-color {
  background-color:var(--ast-global-color-0);
}
:root .has-ast-global-color-1-color {
  color:var(--ast-global-color-1);
}
:root .has-ast-global-color-1-background-color {
  background-color:var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-color {
  color:var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-background-color {
  background-color:var(--ast-global-color-1);
}
:root .has-ast-global-color-2-color {
  color:var(--ast-global-color-2);
}
:root .has-ast-global-color-2-background-color {
  background-color:var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-color {
  color:var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-background-color {
  background-color:var(--ast-global-color-2);
}
:root .has-ast-global-color-3-color {
  color:var(--ast-global-color-3);
}
:root .has-ast-global-color-3-background-color {
  background-color:var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-color {
  color:var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-background-color {
  background-color:var(--ast-global-color-3);
}
:root .has-ast-global-color-4-color {
  color:var(--ast-global-color-4);
}
:root .has-ast-global-color-4-background-color {
  background-color:var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-color {
  color:var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-background-color {
  background-color:var(--ast-global-color-4);
}
:root .has-ast-global-color-5-color {
  color:var(--ast-global-color-5);
}
:root .has-ast-global-color-5-background-color {
  background-color:var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-color {
  color:var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-background-color {
  background-color:var(--ast-global-color-5);
}
:root .has-ast-global-color-6-color {
  color:var(--ast-global-color-6);
}
:root .has-ast-global-color-6-background-color {
  background-color:var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-color {
  color:var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-background-color {
  background-color:var(--ast-global-color-6);
}
:root .has-ast-global-color-7-color {
  color:var(--ast-global-color-7);
}
:root .has-ast-global-color-7-background-color {
  background-color:var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-color {
  color:var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-background-color {
  background-color:var(--ast-global-color-7);
}
:root .has-ast-global-color-8-color {
  color:var(--ast-global-color-8);
}
:root .has-ast-global-color-8-background-color {
  background-color:var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-color {
  color:var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-background-color {
  background-color:var(--ast-global-color-8);
}
:root {
  --ast-global-color-0:#0170B9;
  --ast-global-color-1:#3a3a3a;
  --ast-global-color-2:#3a3a3a;
  --ast-global-color-3:#4B4F58;
  --ast-global-color-4:#F5F5F5;
  --ast-global-color-5:#FFFFFF;
  --ast-global-color-6:#E5E5E5;
  --ast-global-color-7:#424242;
  --ast-global-color-8:#000000;
}
:root {
  --ast-border-color : #dddddd;
}
#masthead .ast-container,
.ast-header-breadcrumb .ast-container {
  max-width:100%;
  padding-left:35px;
  padding-right:35px;
}
@media (max-width:1100px) {
  #masthead .ast-container,
  .ast-header-breadcrumb .ast-container {
    padding-left:20px;
    padding-right:20px;
  }
}
.ast-header-break-point .main-navigation ul .button-custom-menu-item .menu-link {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}
.button-custom-menu-item .ast-custom-button-link .ast-custom-button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.button-custom-menu-item .ast-custom-button-link .ast-custom-button:hover {
  transition: all 0.1s ease-in-out;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {
  display: none;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
  padding: 0;
  display: block;
  overflow: hidden;
}
.ast-header-break-point .ast-header-custom-item .widget:last-child {
  margin-bottom: 1em;
}
.ast-header-custom-item .widget {
  margin: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
.ast-header-custom-item .widget p {
  margin-bottom: 0;
}
.ast-header-custom-item .widget li {
  width: auto;
}
.ast-header-custom-item-inside .button-custom-menu-item .menu-link {
  display: none;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .ast-custom-button-link {
  display: none;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .menu-link {
  display: block;
}
.ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {
  margin-right: 1em;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field,
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {
  width: 100%;
  padding-right: 5.5em;
}
.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-radius: 0;
}
.ast-header-break-point .ast-header-custom-item .ast-masthead-custom-menu-items {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item {
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.astra-icon-down_arrow::after {
  content: "\e900";
  font-family: Astra;
}
.astra-icon-close::after {
  content: "\e5cd";
  font-family: Astra;
}
.astra-icon-drag_handle::after {
  content: "\e25d";
  font-family: Astra;
}
.astra-icon-format_align_justify::after {
  content: "\e235";
  font-family: Astra;
}
.astra-icon-menu::after {
  content: "\e5d2";
  font-family: Astra;
}
.astra-icon-reorder::after {
  content: "\e8fe";
  font-family: Astra;
}
.astra-icon-search::after {
  content: "\e8b6";
  font-family: Astra;
}
.astra-icon-zoom_in::after {
  content: "\e56b";
  font-family: Astra;
}
.astra-icon-check-circle::after {
  content: "\e901";
  font-family: Astra;
}
.astra-icon-shopping-cart::after {
  content: "\f07a";
  font-family: Astra;
}
.astra-icon-shopping-bag::after {
  content: "\f290";
  font-family: Astra;
}
.astra-icon-shopping-basket::after {
  content: "\f291";
  font-family: Astra;
}
.astra-icon-circle-o::after {
  content: "\e903";
  font-family: Astra;
}
.astra-icon-certificate::after {
  content: "\e902";
  font-family: Astra;
}
blockquote {
  padding: 1.2em;
}
:root .has-ast-global-color-0-color {
  color:var(--ast-global-color-0);
}
:root .has-ast-global-color-0-background-color {
  background-color:var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-color {
  color:var(--ast-global-color-0);
}
:root .wp-block-button .has-ast-global-color-0-background-color {
  background-color:var(--ast-global-color-0);
}
:root .has-ast-global-color-1-color {
  color:var(--ast-global-color-1);
}
:root .has-ast-global-color-1-background-color {
  background-color:var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-color {
  color:var(--ast-global-color-1);
}
:root .wp-block-button .has-ast-global-color-1-background-color {
  background-color:var(--ast-global-color-1);
}
:root .has-ast-global-color-2-color {
  color:var(--ast-global-color-2);
}
:root .has-ast-global-color-2-background-color {
  background-color:var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-color {
  color:var(--ast-global-color-2);
}
:root .wp-block-button .has-ast-global-color-2-background-color {
  background-color:var(--ast-global-color-2);
}
:root .has-ast-global-color-3-color {
  color:var(--ast-global-color-3);
}
:root .has-ast-global-color-3-background-color {
  background-color:var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-color {
  color:var(--ast-global-color-3);
}
:root .wp-block-button .has-ast-global-color-3-background-color {
  background-color:var(--ast-global-color-3);
}
:root .has-ast-global-color-4-color {
  color:var(--ast-global-color-4);
}
:root .has-ast-global-color-4-background-color {
  background-color:var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-color {
  color:var(--ast-global-color-4);
}
:root .wp-block-button .has-ast-global-color-4-background-color {
  background-color:var(--ast-global-color-4);
}
:root .has-ast-global-color-5-color {
  color:var(--ast-global-color-5);
}
:root .has-ast-global-color-5-background-color {
  background-color:var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-color {
  color:var(--ast-global-color-5);
}
:root .wp-block-button .has-ast-global-color-5-background-color {
  background-color:var(--ast-global-color-5);
}
:root .has-ast-global-color-6-color {
  color:var(--ast-global-color-6);
}
:root .has-ast-global-color-6-background-color {
  background-color:var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-color {
  color:var(--ast-global-color-6);
}
:root .wp-block-button .has-ast-global-color-6-background-color {
  background-color:var(--ast-global-color-6);
}
:root .has-ast-global-color-7-color {
  color:var(--ast-global-color-7);
}
:root .has-ast-global-color-7-background-color {
  background-color:var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-color {
  color:var(--ast-global-color-7);
}
:root .wp-block-button .has-ast-global-color-7-background-color {
  background-color:var(--ast-global-color-7);
}
:root .has-ast-global-color-8-color {
  color:var(--ast-global-color-8);
}
:root .has-ast-global-color-8-background-color {
  background-color:var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-color {
  color:var(--ast-global-color-8);
}
:root .wp-block-button .has-ast-global-color-8-background-color {
  background-color:var(--ast-global-color-8);
}
:root {
  --ast-global-color-0:#0170B9;
  --ast-global-color-1:#3a3a3a;
  --ast-global-color-2:#3a3a3a;
  --ast-global-color-3:#4B4F58;
  --ast-global-color-4:#F5F5F5;
  --ast-global-color-5:#FFFFFF;
  --ast-global-color-6:#E5E5E5;
  --ast-global-color-7:#424242;
  --ast-global-color-8:#000000;
}
:root {
  --ast-border-color : #dddddd;
}
#masthead .ast-container,
.ast-header-breadcrumb .ast-container {
  max-width:100%;
  padding-left:35px;
  padding-right:35px;
}
@media (max-width:1100px) {
  #masthead .ast-container,
  .ast-header-breadcrumb .ast-container {
    padding-left:20px;
    padding-right:20px;
  }
}
.ast-single-entry-banner {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background: #eeeeee;
}
.ast-single-entry-banner[data-banner-layout="layout-1"] {
  max-width: 1200px;
  background: inherit;
  padding: 20px 0;
}
.ast-single-entry-banner[data-banner-width-type="custom"] {
  margin: 0 auto;
  width: 100%;
}
.ast-single-entry-banner + .site-content .entry-header {
  margin-bottom: 0;
}
header.entry-header > *:not(:last-child) {
  margin-bottom:10px;
}
.ast-archive-entry-banner {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background: #eeeeee;
}
.ast-archive-entry-banner[data-banner-width-type="custom"] {
  margin: 0 auto;
  width: 100%;
}
.ast-archive-entry-banner[data-banner-layout="layout-1"] {
  background: inherit;
  padding: 20px 0;
  text-align: left;
}
body.archive .ast-archive-description {
  max-width:1200px;
  width:100%;
  text-align:left;
  padding-top:3em;
  padding-right:3em;
  padding-bottom:3em;
  padding-left:3em;
}
body.archive .ast-archive-description .ast-archive-title,
body.archive .ast-archive-description .ast-archive-title * {
  font-size:40px;
  font-size:2.2222222222222rem;
}
body.archive .ast-archive-description > *:not(:last-child) {
  margin-bottom:10px;
}
@media (max-width:768px) {
  body.archive .ast-archive-description {
    text-align:left;
  }
}
@media (max-width:544px) {
  body.archive .ast-archive-description {
    text-align:left;
  }
}
.ast-breadcrumbs .trail-browse,
.ast-breadcrumbs .trail-items,
.ast-breadcrumbs .trail-items li {
  display:inline-block;
  margin:0;
  padding:0;
  border:none;
  background:inherit;
  text-indent:0;
  text-decoration:none;
}
.ast-breadcrumbs .trail-browse {
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit;
  color:inherit;
}
.ast-breadcrumbs .trail-items {
  list-style:none;
}
.trail-items li::after {
  padding:0 0.3em;
  content:"\00bb";
}
.trail-items li:last-of-type::after {
  display:none;
}
h1,
.entry-content h1,
h2,
.entry-content h2,
h3,
.entry-content h3,
h4,
.entry-content h4,
h5,
.entry-content h5,
h6,
.entry-content h6 {
  color:var(--ast-global-color-2);
}
.elementor-widget-heading .elementor-heading-title {
  margin:0;
}
.elementor-page .ast-menu-toggle {
  color:unset !important;
  background:unset !important;
}
.elementor-post.elementor-grid-item.hentry {
  margin-bottom:0;
}
.woocommerce div.product .elementor-element.elementor-products-grid .related.products ul.products li.product,
.elementor-element .elementor-wc-products .woocommerce[class*='columns-'] ul.products li.product {
  width:auto;
  margin:0;
  float:none;
}
body .elementor hr {
  background-color:#ccc;
  margin:0;
}
.ast-left-sidebar .elementor-section.elementor-section-stretched,
.ast-right-sidebar .elementor-section.elementor-section-stretched {
  max-width:100%;
  left:0 !important;
}
.elementor-template-full-width .ast-container {
  display:block;
}
.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  top:0 !important;
}
@media (max-width:544px) {
  .elementor-element .elementor-wc-products .woocommerce[class*="columns-"] ul.products li.product {
    width:auto;
    margin:0;
  }
  .elementor-element .woocommerce .woocommerce-result-count {
    float:none;
  }
}
.ast-header-break-point .main-header-bar {
  border-bottom-width:0;
}
@media (min-width:769px) {
  .main-header-bar {
    border-bottom-width:0;
  }
}
.main-header-menu .menu-item,
#astra-footer-menu .menu-item,
.main-header-bar .ast-masthead-custom-menu-items {
  -js-display:flex;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}
.main-header-menu > .menu-item > .menu-link,
#astra-footer-menu > .menu-item > .menu-link {
  height:100%;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -js-display:flex;
  display:flex;
}
.ast-primary-menu-disabled .main-header-bar .ast-masthead-custom-menu-items {
  flex:unset;
}
.main-header-menu .sub-menu .menu-item.menu-item-has-children > .menu-link:after {
  position:absolute;
  right:1em;
  top:50%;
  transform:translate(0,-50%) rotate(270deg);
}
.ast-header-break-point .main-header-bar .main-header-bar-navigation .page_item_has_children > .ast-menu-toggle::before,
.ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before,
.ast-mobile-popup-drawer .main-header-bar-navigation .menu-item-has-children>.ast-menu-toggle::before,
.ast-header-break-point .ast-mobile-header-wrap .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before {
  font-weight:bold;
  content:"\e900";
  font-family:Astra;
  text-decoration:inherit;
  display:inline-block;
}
.ast-header-break-point .main-navigation ul.sub-menu .menu-item .menu-link:before {
  content:"\e900";
  font-family:Astra;
  font-size:.65em;
  text-decoration:inherit;
  display:inline-block;
  transform:translate(0,-2px) rotateZ(270deg);
  margin-right:5px;
}
.widget_search .search-form:after {
  font-family:Astra;
  font-size:1.2em;
  font-weight:normal;
  content:"\e8b6";
  position:absolute;
  top:50%;
  right:15px;
  transform:translate(0,-50%);
}
.astra-search-icon::before {
  content:"\e8b6";
  font-family:Astra;
  font-style:normal;
  font-weight:normal;
  text-decoration:inherit;
  text-align:center;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  z-index:3;
}
.main-header-bar .main-header-bar-navigation .page_item_has_children > a:after,
.main-header-bar .main-header-bar-navigation .menu-item-has-children > a:after,
.menu-item-has-children .ast-header-navigation-arrow:after {
  content:"\e900";
  display:inline-block;
  font-family:Astra;
  font-size:.6rem;
  font-weight:bold;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin-left:10px;
  line-height:normal;
}
.menu-item-has-children .sub-menu .ast-header-navigation-arrow:after {
  margin-left:0;
}
.ast-mobile-popup-drawer .main-header-bar-navigation .ast-submenu-expanded>.ast-menu-toggle::before {
  transform:rotateX(180deg);
}
.ast-header-break-point .main-header-bar-navigation .menu-item-has-children > .menu-link:after {
  display:none;
}
.ast-separate-container .blog-layout-1,
.ast-separate-container .blog-layout-2,
.ast-separate-container .blog-layout-3 {
  background-color:transparent;
  background-image:none;
}
.ast-separate-container .ast-article-post {
  background-color:#ffffff;
  ;
  background-image:none;
  ;
}
@media (max-width:768px) {
  .ast-separate-container .ast-article-post {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
@media (max-width:544px) {
  .ast-separate-container .ast-article-post {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
.ast-separate-container .ast-article-single:not(.ast-related-post),
.ast-separate-container .comments-area .comment-respond,
.ast-separate-container .comments-area .ast-comment-list li,
.woocommerce.ast-separate-container .ast-woocommerce-container,
.ast-separate-container .error-404,
.ast-separate-container .no-results,
.single.ast-separate-container.ast-author-meta,
.ast-separate-container .related-posts-title-wrapper,
.ast-separate-container .comments-count-wrapper,
.ast-box-layout.ast-plain-container .site-content,
.ast-padded-layout.ast-plain-container .site-content,
.ast-separate-container .comments-area .comments-title,
.ast-separate-container .ast-archive-description {
  background-color:#ffffff;
  ;
  background-image:none;
  ;
}
@media (max-width:768px) {
  .ast-separate-container .ast-article-single:not(.ast-related-post),
  .ast-separate-container .comments-area .comment-respond,
  .ast-separate-container .comments-area .ast-comment-list li,
  .woocommerce.ast-separate-container .ast-woocommerce-container,
  .ast-separate-container .error-404,
  .ast-separate-container .no-results,
  .single.ast-separate-container.ast-author-meta,
  .ast-separate-container .related-posts-title-wrapper,
  .ast-separate-container .comments-count-wrapper,
  .ast-box-layout.ast-plain-container .site-content,
  .ast-padded-layout.ast-plain-container .site-content,
  .ast-separate-container .comments-area .comments-title,
  .ast-separate-container .ast-archive-description {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
@media (max-width:544px) {
  .ast-separate-container .ast-article-single:not(.ast-related-post),
  .ast-separate-container .comments-area .comment-respond,
  .ast-separate-container .comments-area .ast-comment-list li,
  .woocommerce.ast-separate-container .ast-woocommerce-container,
  .ast-separate-container .error-404,
  .ast-separate-container .no-results,
  .single.ast-separate-container.ast-author-meta,
  .ast-separate-container .related-posts-title-wrapper,
  .ast-separate-container .comments-count-wrapper,
  .ast-box-layout.ast-plain-container .site-content,
  .ast-padded-layout.ast-plain-container .site-content,
  .ast-separate-container .comments-area .comments-title,
  .ast-separate-container .ast-archive-description {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
.ast-separate-container.ast-two-container #secondary .widget {
  background-color:#ffffff;
  ;
  background-image:none;
  ;
}
@media (max-width:768px) {
  .ast-separate-container.ast-two-container #secondary .widget {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
@media (max-width:544px) {
  .ast-separate-container.ast-two-container #secondary .widget {
    background-color:#ffffff;
    ;
    background-image:none;
    ;
  }
}
#ast-scroll-top {
  display: none;
  position: fixed;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  width: 2.1em;
  height: 2.1em;
  line-height: 2.1;
  color: #ffffff;
  border-radius: 2px;
  content: "";
  outline: inherit;
}
@media (min-width: 769px) {
  #ast-scroll-top {
    content: "769";
  }
}
#ast-scroll-top .ast-icon.icon-arrow svg {
  margin-left: 0px;
  vertical-align: middle;
  transform: translate(0,-20%) rotate(180deg);
  width: 1.6em;
}
.ast-scroll-to-top-right {
  right: 30px;
  bottom: 30px;
}
.ast-scroll-to-top-left {
  left: 30px;
  bottom: 30px;
}
#ast-scroll-top {
  background-color:#498fb3;
  font-size:15px;
  font-size:0.83333333333333rem;
}
.ast-scroll-top-icon::before {
  content:"\e900";
  font-family:Astra;
  text-decoration:inherit;
}
.ast-scroll-top-icon {
  transform:rotate(180deg);
}
@media (max-width:768px) {
  #ast-scroll-top .ast-icon.icon-arrow svg {
    width:1em;
  }
}
:root {
  --e-global-color-astglobalcolor0:#0170B9;
  --e-global-color-astglobalcolor1:#3a3a3a;
  --e-global-color-astglobalcolor2:#3a3a3a;
  --e-global-color-astglobalcolor3:#4B4F58;
  --e-global-color-astglobalcolor4:#F5F5F5;
  --e-global-color-astglobalcolor5:#FFFFFF;
  --e-global-color-astglobalcolor6:#E5E5E5;
  --e-global-color-astglobalcolor7:#424242;
  --e-global-color-astglobalcolor8:#000000;
}
.ast-desktop .astra-menu-animation-slide-up>.menu-item>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-up>.menu-item>.sub-menu,
.ast-desktop .astra-menu-animation-slide-up>.menu-item>.sub-menu .sub-menu {
  opacity:0;
  visibility:hidden;
  transform:translateY(.5em);
  transition:visibility .2s ease,transform .2s ease
}
.ast-desktop .astra-menu-animation-slide-up>.menu-item .menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-slide-up>.menu-item .menu-item:hover>.sub-menu,
.ast-desktop .astra-menu-animation-slide-up>.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-up>.menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-slide-up>.menu-item:hover>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-up>.menu-item:hover>.sub-menu {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
  transition:opacity .2s ease,visibility .2s ease,transform .2s ease
}
.ast-desktop .astra-menu-animation-slide-up>.full-width-mega.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-up>.full-width-mega.menu-item:hover>.astra-full-megamenu-wrapper {
  -js-display:flex;
  display:flex
}
.ast-desktop .astra-menu-animation-slide-down>.menu-item>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-down>.menu-item>.sub-menu,
.ast-desktop .astra-menu-animation-slide-down>.menu-item>.sub-menu .sub-menu {
  opacity:0;
  visibility:hidden;
  transform:translateY(-.5em);
  transition:visibility .2s ease,transform .2s ease
}
.ast-desktop .astra-menu-animation-slide-down>.menu-item .menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-slide-down>.menu-item .menu-item:hover>.sub-menu,
.ast-desktop .astra-menu-animation-slide-down>.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-down>.menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-slide-down>.menu-item:hover>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-down>.menu-item:hover>.sub-menu {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
  transition:opacity .2s ease,visibility .2s ease,transform .2s ease
}
.ast-desktop .astra-menu-animation-slide-down>.full-width-mega.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-slide-down>.full-width-mega.menu-item:hover>.astra-full-megamenu-wrapper {
  -js-display:flex;
  display:flex
}
.ast-desktop .astra-menu-animation-fade>.menu-item>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-fade>.menu-item>.sub-menu,
.ast-desktop .astra-menu-animation-fade>.menu-item>.sub-menu .sub-menu {
  opacity:0;
  visibility:hidden;
  transition:opacity ease-in-out .3s
}
.ast-desktop .astra-menu-animation-fade>.menu-item .menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-fade>.menu-item .menu-item:hover>.sub-menu,
.ast-desktop .astra-menu-animation-fade>.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-fade>.menu-item.focus>.sub-menu,
.ast-desktop .astra-menu-animation-fade>.menu-item:hover>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-fade>.menu-item:hover>.sub-menu {
  opacity:1;
  visibility:visible;
  transition:opacity ease-in-out .3s
}
.ast-desktop .astra-menu-animation-fade>.full-width-mega.menu-item.focus>.astra-full-megamenu-wrapper,
.ast-desktop .astra-menu-animation-fade>.full-width-mega.menu-item:hover>.astra-full-megamenu-wrapper {
  -js-display:flex;
  display:flex
}
