{# This file is a modified version of the equivalent file in the pinpayments app. #}
{# The 'modified_' prefix is necessary to avoid a collision with the unmodified template. #}
{% load i18n %}

<fieldset id='pin_credit_card_details'>
    <div class="form-group">
        <label class="control-label labels col-sm-3"  for="cc-name">Name on card</label>
        <div class="col-sm-9">
            <input type="text" class="form-control cc-form" name="cardName" id="cc-name" placeholder="Full name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label labels col-sm-3" for="cc-number">Card number</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input  name="cardNumber"
                        type="tel"
                        class="form-control cc-form"
                        name="cardNumber"
                        id="cc-number"
                        placeholder="Card Number"
                        autocomplete="cc-number"
                />
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            </div>
            <label for="cc-number" class="error"></label>
        </div>
    </div>

    <div class="multi-form-group">
        <div class="form-group col-sm-7" style="">
            <label class="control-label labels col-sm-3" for="cc-expiry"><span class="hidden-xs">Expiration</span><span
                    class="visible-xs-inline">Exp</span> date</label>
            <div class="col-sm-4">
                <input  name="cardExpiry"
                        type="tel"
                        class="form-control cc-form"
                        id="cc-expiry"
                        name="cardExpiry"
                        placeholder="MM / YY"
                        autocomplete="cc-exp"
                />
            </div>
        </div>
        <div class="form-group col-sm-5">
            <label class="control-label labels col-sm-3" for="cc-cvc">CV code</label>
            <div class="col-sm-2">
                <input  name="cardCVC"
                        type="text"
                        class="form-control cc-form"
                        id="cc-cvc"
                        name="cardCVC"
                        placeholder="CVC"
                        autocomplete="cc-csc"
                />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label labels col-sm-3" for="address-line1">Billing Address</label>
        <div class="col-sm-9">
            <input type="text" class="form-control cc-form" id="address-line1" name="cardAddress" placeholder="Address Line 1" required aria-required/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label sr-only labels" hidden aria-hidden for="address-line2">Billing Address line 2</label>
        <div class="col-sm-9 col-sm-offset-3">
            <input type="text" class="form-control cc-form" id="address-line2" name="cardAddress2" placeholder="Address Line 2"/>
        </div>
    </div>

    <div class="multi-form-group">
        <div class="form-group col-sm-6">
            <label class="control-label labels col-sm-3 visible-xs" for="address-city">City</label>
            <div class="col-sm-3 col-sm-offset-3">
                <input type="text" class="form-control cc-form" id="address-city" name="cardCity" placeholder="City" required aria-required/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label labels col-sm-3 visible-xs" for="address-state">State</label>
            <div class="col-sm-3">
                <input type="text" class="form-control cc-form" id="address-state" name="cardState" placeholder="State"/>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label labels col-sm-3 visible-xs" for="address-postcode">Postcode</label>
            <div class="col-sm-3">
                <input type="text" class="form-control cc-form" id="address-postcode" name="cardPostcode" placeholder="Postal Code"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label labels col-sm-3" for="address-country">Country</label>
        <div class="col-sm-9">
            <input type="text" class="form-control cc-form" id="address-country" name="cardCountry" placeholder="Country" required aria-required/>
        </div>
    </div>
</fieldset>

