/* Styles for forms */
.form-container label.error {
  font-weight: 400;
  color: #a94442;
  margin: 4px 0 0 0;
}

.form-container .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

.form-container .checkbox label {
    padding-left: 40px;
}

.multi-form-group .form-group {
    padding: 0;
}
@media (min-width: 768px) {
    .multi-form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

    .multi-form-group .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .multi-form-group .col-sm-2 .col-sm-1 {
        width: 50%;
    }

    .multi-form-group .col-sm-2 .col-sm-2 {
        width: 100%;
    }

    .multi-form-group .col-sm-3 .col-sm-1 {
        width: 33.3333333%;
    }

    .multi-form-group .col-sm-3 .col-sm-2 {
        width: 66.6666667%;
    }

    .multi-form-group .col-sm-3 .col-sm-3 {
        width: 100%;
    }

    .multi-form-group .col-sm-4 .col-sm-1 {
        width: 25%;
    }

    .multi-form-group .col-sm-4 .col-sm-2 {
        width: 50%;
    }

    .multi-form-group .col-sm-4 .col-sm-3 {
        width: 75%;
    }

    .multi-form-group .col-sm-4 .col-sm-4 {
        width: 100%;
    }

    .multi-form-group .col-sm-5 .col-sm-1 {
        width: 20%;
    }

    .multi-form-group .col-sm-5 .col-sm-2 {
        width: 40%;
    }

    .multi-form-group .col-sm-5 .col-sm-3 {
        width: 60%;
    }

    .multi-form-group .col-sm-5 .col-sm-4 {
        width: 80%;
    }

    .multi-form-group .col-sm-5 .col-sm-5 {
        width: 100%;
    }

    .multi-form-group .col-sm-6 .col-sm-1 {
        width: 16.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-2 {
        width: 33.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-3 {
        width: 50%;
    }

    .multi-form-group .col-sm-6 .col-sm-4 {
        width: 66.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-5 {
        width: 83.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-6 {
        width: 100%;
    }

    .multi-form-group .col-sm-7 .col-sm-1 {
        width: 14.2857143%;
    }

    .multi-form-group .col-sm-7 .col-sm-2 {
        width: 28.5714286%;
    }

    .multi-form-group .col-sm-7 .col-sm-3 {
        width: 42.8571429%;
    }

    .multi-form-group .col-sm-7 .col-sm-4 {
        width: 57.1428571%;
    }

    .multi-form-group .col-sm-7 .col-sm-5 {
        width: 71.4285714%;
    }

    .multi-form-group .col-sm-7 .col-sm-6 {
        width: 85.7142857%;
    }

    .multi-form-group .col-sm-7 .col-sm-6 {
        width: 100%;
    }

    .multi-form-group .col-sm-2 .col-sm-offset-1 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-2 .col-sm-offset-2 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-1 {
        margin-left: 33.3333333%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-2 {
        margin-left: 66.6666667%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-3 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-1 {
        margin-left: 25%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-2 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-3 {
        margin-left: 75%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-4 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-1 {
        margin-left: 20%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-2 {
        margin-left: 40%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-3 {
        margin-left: 60%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-4 {
        margin-left: 80%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-5 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-1 {
        margin-left: 16.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-2 {
        margin-left: 33.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-3 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-4 {
        margin-left: 66.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-5 {
        margin-left: 83.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-6 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-1 {
        margin-left: 14.2857143%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-2 {
        margin-left: 28.5714286%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-3 {
        margin-left: 42.8571429%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-4 {
        margin-left: 57.1428571%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-5 {
        margin-left: 71.4285714%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-6 {
        margin-left: 85.7142857%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-6 {
        margin-left: 100%;
    }
}
