
body {
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 900px;
    width: auto;
    text-align: center;
}

.container:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.btn-recurring {
    padding: 15px 80px;
    font-size: 24px;
}

.btn-amt {
    padding: 10px 30px;
}

.col-buffer {
    margin-bottom: 25px
}

.top-buffer {
    margin-top: 20px;
    margin-bottom: 20px;

}

.btn-pmt-method {
    width: 150px;
    height: 34px;
    font-size: 15px;
    justify-content: center;
}

.charity {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 12px;
}

.charity .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.charity:hover .hover-overlay {
    background-color: rgba(170, 170, 170, 0.4);
}

.charity-info {
    flex-direction: column;
    display: flex;
    height: 165px;
    width: 250px;
    border: 1px solid #A3A3A4;
    border-radius: 2px;
}

.charity-info .charity-img {
    display: block;
    position: relative;
    margin: auto;
    vertical-align: middle;
    max-height: 115px;
    max-width: 200px;
}

.charity-info .charity-title {
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    background-color: #E6EAEB;
    color: #333;
    margin: 0;
}

/* What is this transition for? */
/*.charity-info .charity-title, .charity-info .charity-img {*/
    /*-webkit-transition: all 0.4s ease-in-out;*/
    /*transition: all 0.4s ease-in-out;*/
/*}*/

.charity a.charity-details {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 15px;

    /* Transition */
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    /*-webkit-transform: scale(1.5);*/
    /*-ms-transform: scale(1.5);*/
    /*transform: scale(1.5);*/

    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.charity:hover a.charity-details {
    background-color: #4c8fb1;
    opacity: 1;
    filter: alpha(opacity=100);
    /*-webkit-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*transform: scale(1);*/
}

.charity-title,
.charityClick {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.pin_label {
    alignment: left;
    text-align: left;
}

.error {
    color: red;
}

.selected-charity-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: auto;
    min-height: 100px;
}

.selected-charity-box .charity-img {
    max-height: 120px;
    max-width: 200px;
    margin: auto;
}

.selected-charity-box p.donation-info {
    flex-grow: 1;
    text-align: left;
    margin: auto auto auto 20px;
}

/* Monochromatic colors of our base color*/
/* #4c8fb1, #44819f, #3d728d */
/* Dark tint: #2d556a */

/* Override bootstrap colors */
.btn-primary,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4c8fb1;
    border-color: #44819f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3d728d;
    border-color: #2d556a
}

/* These are all disabled states */
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #4c8fb1;
    border-color: #3c728d;
}
