body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.container {
    text-align: center;
}

.stepwizard {
    display: inline-table;
    width: 80%;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 9px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.428571429;
    background-color: #B0B0B2;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
}