.donation-page-header {
    display: flex;
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.page-title {
    font-size: 36px;
    font-weight: 300 !important;
    flex-grow: 1;
    margin: 0;
}

.donation-progress {
    width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
}

.donation-progress .progress-step {
    text-align: center;
    width: 24px;
    height: 24px;
    background: #aaa;
    color: white;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50%;
}

.donation-progress .current-step {
    background: rgba(0,0,0,0.87);
}
