{% load i18n %}

<fieldset id='pin_credit_card_details'>
    {#            <div class='errors' style='display:none'>#}
    {#                <h3></h3>#}
    {#                <ul></ul>#}
    {#            </div>#}

    <div class="form-group">
        <label class="control-label labels col-xs-3" for="cardName">Name on card</label>
        <div class="col-xs-9">
            <input type="text" class="form-control cc-form" id="cc-name" placeholder="Full name"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label labels col-xs-3" for="cardNumber">Card number</label>
        <div class="col-xs-9">
            <div class="input-group">
                <input
                        type="tel"
                        class="form-control cc-form"
                        id="cc-number"
                        placeholder="Valid Card Number"
                        autocomplete="cc-number"
                />
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label labels col-xs-3" for="cardExpiry"><span class="hidden-xs">Expiration</span><span
                class="visible-xs-inline">Exp</span> date</label>
        <div class="col-xs-4">
            <input
                    type="tel"
                    class="form-control cc-form"
                    id="cc-expiry"
                    placeholder="MM / YY"
                    autocomplete="cc-exp"
            />
        </div>
        <label class="control-label labels col-xs-3" for="cardCVC">CV code</label>
        <div class="col-xs-2">
            <input
                    type="password"
                    class="form-control cc-form"
                    id="cc-cvc"
                    placeholder="CVC"
                    autocomplete="cc-csc"
            />
        </div>
    </div>
</fieldset>

