{% extends 'email_base.html' %}
{% block content %}
    <p>Dear {{ pledge.first_name }},</p>

    <p>You've completed the first step. Once you've completed the last step (below), we'll make sure your
        donation will go directly to helping people through {{ pledge.partner_charity_str }}, and send you a tax
        deductible receipt.</p>

    <h3>What to do next?</h3>
    Please make sure that you complete the process by {% if pledge.recurring %}setting up a monthly periodic payment for
{% else %}making a bank transfer of {% endif %}
    <strong>${{ pledge.amount }}</strong> to:<br><br>
    <strong>Account Name: </strong>{{ pledge.org_name }} (don't worry if it doesn't fit)<br>
    <strong>BSB:</strong> {{ pledge.bsb }}<br>
    <strong>Account No:</strong> {{ pledge.account_number }}<br>
    <strong>Unique Reference Number:</strong> {{ pledge.reference }}

    <h3>Donating in late June?</h3>
    <p>
        Please note that according to the <a href="https://www.ato.gov.au/individuals-and-families/income-deductions-offsets-and-records/deductions-you-can-claim/gifts-and-donations">Australian Taxation Office (ATO)</a>, your donation is deductible for the financial year in which it was made, which is when the funds cleared <b><i>your</i></b> bank account. Therefore, if you made your donation by <b><i>midnight 30 June</i></b>, it is deductible for that financial year, even if our receipt is dated in early July (when we receive the funds). Additionally, if you are otherwise eligible for our June match campaign, your donation will be matched as long as it was made by <b><i>midnight 30 June 2024</i></b>. 
    </p>

    <p>Please reply to this email if you have any questions and we'll get back to you as soon as we can.</p>

    <p>Best regards and thanks,<br>
        The team at Effective Altruism Australia</p>

{% endblock content %}
