{% load humanize %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% load pin_payment_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Donate to Effective Altruism Australia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
          integrity="" crossorigin="anonymous">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/ractive/0.9.0-build-91/ractive.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.8/iframeResizer.contentWindow.min.js"></script>

    <link href="{% static 'css/pledge.css' %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'css/process_steps.css' %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'css/credit_card.css' %}" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/charities.js' %}"></script>
    <script type="text/javascript" src="https://cdn.ravenjs.com/3.10.0/raven.min.js"></script>
    <script type="text/javascript">
        Raven.config('https://1c3aafc3a7c54fb5b35d5d33015fbe57@sentry.draftable.com/26').install()
    </script>
    {% pin_header %}

</head>
<body>


<div id="ractive_base"></div>

<script id="ractive_template" type="text/html">

<div class="container">
    <div class="donation-page-header">
        <h1 class="page-title">
            [[ step === 1 ? 'Select a program to support' : step === 2 ? 'Payment' : payment_method === '1' ? 'Complete payment' : 'Success' ]]
        </h1>
        [[#if step !== 3 ]]
        <div class="donation-progress">
            <div class="progress-step [[step === 1 ? 'current-step' : 'last-step']]" on-click="@this.restart_donation()">1</div>
            <div class="progress-step [[step === 2 ? 'current-step' : '' ]]">2</div>
        </div>
        [[/if]]
    </div>

    <div class="donation-step [[step !== 1 ? 'collapse' : '']]" id="step-1">
        <h2>100% of your donation will be granted to the charity of your choice</h2>
        <h3>Select a charity:</h3>
        <div class="charities-container">
            [[#charities:i]]
                [[#if show_on_website ]]
                <div class="charity">
                    <div class="charity-info">
                        <img class="charity-img" style="margin-top:[[ image_top_margin ]]px;"
                             src="static/[[ website_image ]]" alt="[[ website_label ]]">
                        <span class="charity-title">[[ website_label ]]</span>
                    </div>
                    <div class="hover-overlay">
                        <a class="charity-details charityClick" on-click='@this.charity_click(name)' href="#">
                            <b>[[ website_label ]] </b> [[ website_description ]]
                        </a>
                    </div>
                </div>
                [[/if ]]
            [[/charities]]
        </div>
    </div>



    <div class="donation-step [[step !== 2 ? 'collapse' : '']]" id="step-2">
        [[#if selected_charity]]
        [[! We need to enclose this in an 'if' to avoid a 404 when the charity is not set but we try to load its logo. ]]
        <h2>You have chosen [[ selected_charity.name ]].</h2>
        <span><a href="#" on-click="@this.restart_donation()">Choose a different program</a></span>

            [[#if selected_charity.name==='Against Malaria Foundation']]
            <div class="selected-charity-box">
                <a href='https://www.againstmalaria.com/Donation.aspx?GroupID=86'>
                    <img class="charity-img" src="static/[[ selected_charity.website_image ]]">
                </a>
                <p class="donation-info">
                    Donations to the Against Malaria Foundation are tax deductible in Australia.
                    We prefer that you donate to the Against Malaria Foundation directly at
                    <a href='https://www.againstmalaria.com/Donation.aspx?GroupID=86'>https://www.againstmalaria.com/Donation.aspx?GroupID=86</a>.
                </p>
            </div>

            [[else]]
            <form on-submit="submit" id='pledge-form'>
                {% csrf_token %}

                <h3>How often will you be donating?</h3>
                <div class="button-row">
                    <button type="button"
                            class="btn [[recurring == false ? 'btn-primary' : 'btn-default' ]]"
                            on-click='@this.set_recurring(false)'>One-Time
                    </button>

                    <button type="button"
                            class="btn [[recurring ? 'btn-primary' : 'btn-default' ]]"
                        on-click='@this.set_recurring(true)'>Monthly
                    </button>
                </div>
                <div id="donation-frequency-error"></div>

                <h3 class="section-label">
                    How much would you like to donate?
                </h3>
                <div class="button-row">
                    {% for amt_text, amt_val in form.donation_amounts %}
                        <button type="button"
                                class="btn [[donation_amount === {{ amt_val }} ? 'btn-primary' : 'btn-default' ]]"
                                on-click='@this.set_donation_amount({{ amt_val }})'
                                id="id_{{ amt_val }}"
                                value={{ amt_val }}>{{ amt_text }}</button>
                    {% endfor %}

                    <button type="button"
                            class="btn [[is_custom_amount ? 'btn-primary' : 'btn-default' ]]"
                            on-click="@this.show_other_donation_amount()"
                            value="other">Other
                    </button>
                    <div class="form-group [[ is_custom_amount ? '' : 'collapse' ]]" id="form-donation-amount">
                        <label class="sr-only control-label" for="id_amount">Amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" type="number" id="id_amount" step="1" min="2" name="amount" placeholder="Amount" title="" value="[[ donation_amount ]]">
                        </div>
                        <label id="id_amount-error" class="error" for="id_amount"></label>
                    </div>
                </div>
                <div id="donation-amount-error" ></div>

                <div class="panel panel-default form-container details-section donor-details-section">
                    <div class="panel-body form-horizontal">
                        <legend>Donor Details</legend>
                        <div class="form-group" id="form_first_name">
                            <label class="control-label col-sm-3" for="id_first_name">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="id_first_name" maxlength="1024" name="first_name" placeholder="Name" value="[[ name ]]" required aria-required>
                            </div>
                        </div>

                        <div class="form-group" id="form_email">
                            <label class="control-label col-sm-3" for="id_email">Email</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="email" id="id_email" maxlength="254" name="email" placeholder="Email" required aria-required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 long-control-label" for="id_how_did_you_hear_about_us">How did you hear about us?</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="id_how_did_you_hear_about_us" name="how_did_you_hear_about_us">
                                    <option value="" disabled selected>---------</option>
                                    <option value="The Life You Can Save">The Life You Can Save</option>
                                    <option value="News">News</option>
                                    <option value="Advertising">Advertising</option>
                                    <option value="GiveWell">GiveWell</option>
                                    <option value="From the charity (SCI, Evidence Action, GiveDirectly)">From the charity (SCI, Evidence Action, GiveDirectly)</option>
                                    <option value="Search engine (Google etc.)">Search engine (Google etc.)</option>
                                    <option value="Friend">Friend</option>
                                    <option value="Giving What We Can">Giving What We Can</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="id_formgroup_subscribe_to_updates">
                            <div class="checkbox col-sm-offset-3">
                                <label for="id_subscribe_to_updates"><input type="checkbox" id="id_subscribe_to_updates" name="subscribe_to_updates" checked> Send me news and updates</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default form-container details-section payment-details-section">
                    <div class="panel-body form-horizontal">
                        <legend>Payment Details</legend>
                        <div class="payment-type form-group">
                            <label class="control-label col-sm-3">Payment Method</label>
                            <div class="col-sm-9">
                                <button type="button"
                                        class="btn [[pmt_method === '3' ? 'btn-primary' : 'btn-default' ]]"
                                        value="3"
                                        id="id_btn_cc"
                                        on-click="@this.set_pmt_method('3')"
                                        [[recurring ? "disabled" : "" ]]
                                        >Credit card
                                </button>
{#                    <button type="button"#}
{#                            class="btn [[pmt_method === '4' ? 'btn-primary' : 'btn-default' ]]"#}
{#                            id="id_btn_paypal"#}
{#                            value="4"#}
{#                            on-click="@this.set_pmt_method('4')"#}
{#                            [[recurring ? "disabled" : "" ]]#}
{#                            >Paypal#}
{#                    </button>#}
                                <button type="button"
                                        class="btn [[pmt_method === '1' ? 'btn-primary' : 'btn-default' ]]"
                                        id="id_btn_bank_transfer"
                                        on-click="@this.set_pmt_method('1')"
                                        value="1">Bank transfer
                                </button>
                            </div>
                        </div>
                            <p id="id_recurring_notification" class="col-sm-offset-3 [[recurring ? '' : 'collapse' ]]">
                                <strong>Note:</strong> We currently only accept monthly donations via bank transfer.
                            </p>
                        <hr />

                        <div class="payment-subsections" id="id_payment_options">
                            <div class="payment-subsection [[pmt_method != '1' ? 'collapse' : '' ]]" id="bank-transfer-instructions">
                                <p>After you submit this form, we will give you our account details and a unique reference number.</p>
                                [[#if recurring]]
                                <p>You then need to log in to your bank and create a periodic monthly transfer using these details.</p>
                                <p>You can stop your donation or change the amount at any time.</p>
                                [[else]]
                                <p>You then need to log in to your bank and make a bank transfer using these details.</p>
                                [[/if recurring]]
                            </div>

                            <div class="payment-subsection [[pmt_method != '3' ? 'collapse' : '' ]]" id="id_credit_card">
                                {% pin_form %}
                                [[#if has_pin_errors ]]
                                <div class="row">
                                    <div class="pin-errors col-sm-offset-3 col-sm-9">
                                        [[#pin_error_messages ]]
                                        <p class="error-text">[[message]]</p>
                                        [[/for]]
                                    </div>
                                </div>
                                [[/if]]
                            </div>
                        </div>
                    </div>
                </div>

                <p class="help-text">
                    Having a problem donating? Please let us know at <a href="mailto://info@eaa.org.au">info@eaa.org.au</a>.
                </p>

                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-lg"
                            [[#if !submit_enabled]]disabled[[/if]]
                         >
                         [[#if submit_enabled]]Donate[[else]]Processing...[[/if]]
                    </button>
                    <div id="other-errors"></div>
                </div>
            </form>

            <div align="center" id="id_paypal" class="payment_option [[pmt_method != '4' ? 'collapse' : '' ]]">
                {# paypal_form.render #}
            </div>

            <div class="details-section payment-faq">
                <h2>Donation FAQ</h2>
                <p class="payment-faq-question">
                    What credit cards do you accept?
                </p>
                <p class="payment-faq-answer">
                    We accept Visa and Mastercard. Sorry, we do not accept American Express at this time.
                </p>
                <p class="payment-faq-question">
                    Are credit card donations secure?
                </p>
                <p class="payment-faq-answer">
                    Yes. Your credit card details are encrypted and submitted directly from your web browser to our
                    payment processor, Pin Payments (ABN: 46 154 451 582). We do not store your credit card details
                    &ndash; in fact, we never see them.
                </p>
                <p class="payment-faq-question">
                    How much does it cost you to process a donation?
                </p>
                <p class="payment-faq-answer">
                    Credit card donations cost us 1.4% plus 30c per donation. Bank transfers have no fees.
                </p>
                <p class="payment-faq-question">
                    Which payment method do you prefer?
                </p>
                <p class="payment-faq-answer">
                    We suggest that you use whichever payment method is most convenient for you.
                    For major donations (over $2,000), we prefer that you donate via bank transfer to reduce fees.
                </p>
                <p class="payment-faq-question">
                    When will I get a receipt?
                </p>
                <p class="payment-faq-answer">
                    For credit card donations, we will email you a receipt immediately after your donation.
                    For bank transfers, we will email you a receipt on the day the money is received by us,
                    which is usually one or two business days after you send it.
                </p>
            </div>
            [[/if]]
        [[/if ]]
    </div>

    <div class="donation-step [[step !== 3 ? 'collapse' : '']]" id="step-3">
        <div class="payment_option [[pmt_method != '3' ? 'collapse' : '' ]]">
            <h2>Thank you [[ name ]]!</h2>
            <p>
                100% of your donation will be granted to [[ selected_charity.name ]].
            </p>
            <div class="complete-other-info">
                <p>Here is your <a href="[[receipt_url]]" download target="_blank">receipt</a>. We have also emailed it to you &ndash; please check your spam folder if you have not received it.</p>
            </div>
            <div class="complete-other-info">
                <h3>Any questions?</h3>
                <p>
                    Please email us at <a href="mailto://info@eaa.org.au">info@eaa.org.au</a> or call us on +61 3 9349 4062, if you have any questions.
                </p>
            </div>
            <p>
                Best wishes and thanks,<br>
                The team at Effective Altruism Australia
            </p>
        </div>
        <div class="payment_option [[pmt_method != '1' ? 'collapse' : '' ]]">
            <h2>Thank you [[ name ]]!</h2>
            <p>
                100% of your donation will be granted to [[ selected_charity.name ]].
            </p>
            <div class="complete-next-steps">
                <h3>What to do next?</h3>
                <p>
                    Please make sure that you complete the process by
                    [[#if recurring]]
                    setting up a monthly periodic payment for
                    [[else]]
                    making a bank transfer of
                    [[/if]]
                    $[[ donation_amount ]] to:
                </p>
                <p>
                    <strong>Account Name</strong>: Effective Altruism Australia (don't worry if it doesn't fit)<br>
                    <strong>BSB</strong>: 083170<br>
                    <strong>Account No</strong>: 306556167<br>
                    <strong>Unique Reference Number</strong>: [[ bank_reference ]] (put in the transaction description)
                </p>
            </div>

            <div class="complete-other-info">
                <h3>
                    Receipt
                </h3>
                <p>
                    We will send you a tax deductible receipt once we have confirmed the bank transfer.
                </p>

                <h3>Any questions?</h3>
                <p>
                    Please email us at <a href="mailto://info@eaa.org.au">info@eaa.org.au</a> or call us on +61 3 9349 4062, if you have any questions.
                </p>
            </div>

            <div class="complete-other-info">
                <p>
                    We have also emailed you these instructions &ndash; please check your spam folder if you have not received them.
                </p>
            </div>
            <p>
                Best wishes and thanks,<br>
                The team at Effective Altruism Australia
            </p>
        </div>
    </div>
</div>
</script>

<script>
    var charity_database_ids = {{ charity_database_ids|safe }};

    var ractive = new Ractive({
        el: '#ractive_base',
        template: '#ractive_template',
        data: {
            step: 1,
            recurring: null,
            donation_amount: null,
            is_custom_amount: false,
            pmt_method: '3',
            selected_charity_id: null,
            selected_charity: null,
            charities: charities,
            has_pin_errors: false,
            pin_error_description: null,
            pin_error_messages: null,
            submit_enabled: true,
            bank_reference: null,
            receipt_url: null,
            name: null
        },
        delimiters: ['[[', ']]'],

        set_step: function (step) {
            ractive.set({step: step});
        },

        restart_donation: function () {
            ractive.set({step: 1})
        },

        charity_click: function (name) {
            var id = charity_database_ids[name];
            var selected_charity = charities.find(function (x) {
                return x.name === name;
            });
            ractive.set({
                            step: 2,
                            selected_charity_id: id,
                            selected_charity: selected_charity
                        });
            // For paypal
            // document.getElementById('id_item_name').value = 'Donation: '.concat(selected_charity.website_label);
        },

        set_recurring: function (is_recurring) {
            ractive.set({recurring: is_recurring});
            if (is_recurring) {
                ractive.set_pmt_method('1');
            }
            // Clear validation errors, if any
            $('#donation-frequency-error').html("");
        },

        set_donation_amount: function (amount) {
            this.hide_other_donation_amount();
            ractive.set({donation_amount: amount});
            // Clear validation errors, if any
            $('#donation-amount-error').html("");
        },

        show_other_donation_amount: function () {
            ractive.set({donation_amount: ""});
            ractive.set({is_custom_amount: true});
        },

        hide_other_donation_amount: function () {
            ractive.set({is_custom_amount: false});
        },

        set_pmt_method: function (pmt_method) {
            ractive.set({pmt_method: pmt_method});
        },

        clear_pin_errors: function () {
            ractive.set({has_pin_errors: false});
        },

        set_pin_errors: function (error_description, messages) {
            ractive.set({has_pin_errors: true, pin_error_description: error_description, pin_error_messages: messages});
        },

        set_submit_disabled: function () {
            ractive.set({submit_enabled: false});
        },

        set_submit_enabled: function () {
            ractive.set({submit_enabled: true});
        }
    });


    // Ractive has rendered by now, so we can set up our validation.
    // (Because all the relevant elements are hidden and waiting.)
    var $form = $('#pledge-form');

    // We set up restrictions on credit card fields with jQuery.payment calls.
    $form.find('#cc-number').payment('formatCardNumber');
    $form.find('#cc-expiry').payment('formatCardExpiry');
    $form.find('#cc-cvc').payment('formatCardCVC');

    // Add custom validation methods to verify expiry and AMEX-ness of the credit card.
    $.validator.addMethod("cardNumber", function (value, element) {
        return $.payment.validateCardNumber(value);
    }, "Please enter a valid credit card number.");
    $.validator.addMethod("cardExpiry", function (value, element) {
        var expiry = $.payment.cardExpiryVal(value);
        return $.payment.validateCardExpiry(expiry);
    }, "Invalid card expiry.");
    $.validator.addMethod("cardCVC", function (value, element) {
        return $.payment.validateCardCVC(value);
    }, "Invalid CVC.");
    $.validator.addMethod("notAMEX", function (value, element) {
        return $.payment.cardType(value) !== 'amex';
    }, "Sorry, we do not accept American Express.");

    var validator = $form.validate({
        rules: {
            // Validators for cardName:
            cardName: {
                // Since we don't have a custom validator ("yet! growth mindset!"), we at least make it required:
                required: true
            },
            // This gives the validators to apply to the field with name "cardNumber":
            cardNumber: {
                cardNumber: true,
                notAMEX: true
            },
            // Again, validators to apply to the field with name "cardExpiry":
            cardExpiry: {
                cardExpiry: true
            },
            // Validators for CVC:
            cardCVC: {
                cardCVC: true
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error');
        }
    });


    function callPinAPI(callBack) {
        // Disable the submit button to prevent multiple clicks
        ractive.set_submit_disabled();

        // Clear prior errors.
        ractive.clear_pin_errors();

        // Convert expiry string into year and month values for Pin
        var expiry = $.payment.cardExpiryVal($('#cc-expiry').val());

        // Fetch details required for the createToken call to Pin
        var card = {
            // Removing spaces from cc-number is necessary for the Pin test cards to work
            number: $('#cc-number').val().replace(/\s/g, ''),
            name: $('#cc-name').val(),
            expiry_month: expiry.month,
            expiry_year: expiry.year,
            cvc: $('#cc-cvc').val(),
            address_line1: $('#address-line1').val(),
            address_line2: $('#address-line2').val(),
            address_city: $('#address-city').val(),
            address_state: $('#address-state').val(),
            address_postcode: $('#address-postcode').val(),
            address_country: $('#address-country').val()
        };

        Pin.createToken(card, handlePinResponse);

        function handlePinResponse(response) {
            if (response.response) {
                // Add the card token and ip address of the customer to the form
                // You will need to post these to Pin when creating the charge.
                callBack({card_token: response.response.token, ip_address: response.ip_address})
            } else {
                ractive.set_pin_errors(response.error_description, response.messages);
                // Re-enable the button.
                ractive.set_submit_enabled();
            }
        }
    }

    function submitForm(data) {
        if (!data) {
            data = {}
        }
        // Extra fields that Django wants, that aren't in the form data:
        data['payment_method'] = ractive.get('pmt_method');
        data['recipient_org'] = ractive.get('selected_charity_id');
        data['recurring'] = ractive.get('recurring');

        // We needed to name the credit card fields for jQuery.validator to work
        // but we don't want to submit them, so we need to remove the fields here.
        var card_fields = $('fieldset#pin_credit_card_details input').map(function(_, elt) {return elt.name;});
        // Now we add all the data from the form:
        var formData = $('#pledge-form').serializeArray();
        for (var i = 0; i < formData.length; ++i) {
            var field_name = formData[i].name;
            if ($.inArray(field_name, card_fields) == -1) {
                data[field_name] = formData[i].value;
            }
        }

        $.ajax({
            url : "", // the endpoint
            type : "POST", // http method
            data : data,

            // handle a successful response
            success : function(json) {
                if (json['payment_method']==='1') {
                    ractive.set({
                        step: 3,
                        bank_reference: json['bank_reference']
                    });
                }
                else if (json['payment_method']==='3') {
                    ractive.set({
                        step: 3,
                        receipt_url: json['receipt_url']
                    });
                }

            },

            // handle a non-successful response
            error : function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                var message = "Sorry, an unknown error occurred. Please check the data you entered, or try again."
                // Parse the errors
                if (xhr.status == 400) {
                    var response_data = JSON.parse(xhr.responseText);
                    if (response_data['error'] == 'form-error') {
                        var errors = response_data['form_errors']
                        message = Object.keys(errors).map(function (key) {
                           return errors[key].join(' ');
                        }).join(' ');
                    } else if (response_data['error'] == 'pin-error') {
                        message = response_data['pin_response']
                    }
                }
                // add the error to the dom
                $('#other-errors').html("<div class='error-text'>" + message + "</div>");
                // re-enable the button
                ractive.set_submit_enabled();
            }
        });


    }

    ractive.on('submit', function(event) {
        event.original.preventDefault();

        var validationFailed = false;

        if (!validator.checkForm()) {
            validator.showErrors();
            validationFailed = true;
        }

        if (ractive.get('recurring')==null) {
            $('#donation-frequency-error').html("<div class='error-text'>Please choose a donation frequency.</div>");
            validationFailed = true;
        }
        if (!ractive.get('donation_amount')) {
            $('#donation-amount-error').html("<div class='error-text'>Please choose a donation amount.</div>");
            validationFailed = true;
        }

        if (validationFailed) {
            return;
        }

        if (ractive.get('pmt_method') === "3") {
            callPinAPI(submitForm);
        } else {
            submitForm()
        }
    });

</script>
</body>
</html>
