<html>
<head>
</head>
<body>
<h1>Temporary page to upload donations from drupal</h1>
<p>Do the following:</p>
<ol>
    <li>
        Login in to the <a href="http://effectivealtruism.org.au/user">main site</a>
    </li>
    <li>
        Go to <a href="https://effectivealtruism.org.au/donate#overlay-context=donate">https://effectivealtruism.org.au/donate#overlay-context=donate</a>
    </li>
    <li>
        Click Results -> Download
    </li>
    <li>
        Delimited text -> Comma (,)
    </li>
    <li>
        Click on "Label" once (won't appear to do anything, that's okay)
    </li>
    <li>
        Click on "Field key" once (won't appear to do anything, that's okay)
    </li>
    <li>
        Click "Download" at the bottom. It doesn't matter what the file name is.
    </li>
    <li>
        Upload the file below
    </li>
</ol>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</body>
</html>