body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* from eea-donation_portal ... credit_card.css */
/* Styles for forms */
.form-container label.error {
    font-weight: 400;
    color: #a94442;
    margin: 4px 0 0 0;
}

.form-container .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.form-container .checkbox label {
    padding-left: 40px;
}

.multi-form-group .form-group {
    padding: 0;
}
@media (min-width: 768px) {
    .multi-form-group {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
    }

    .multi-form-group .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .multi-form-group .col-sm-2 .col-sm-1 {
        width: 50%;
    }

    .multi-form-group .col-sm-2 .col-sm-2 {
        width: 100%;
    }

    .multi-form-group .col-sm-3 .col-sm-1 {
        width: 33.3333333%;
    }

    .multi-form-group .col-sm-3 .col-sm-2 {
        width: 66.6666667%;
    }

    .multi-form-group .col-sm-3 .col-sm-3 {
        width: 100%;
    }

    .multi-form-group .col-sm-4 .col-sm-1 {
        width: 25%;
    }

    .multi-form-group .col-sm-4 .col-sm-2 {
        width: 50%;
    }

    .multi-form-group .col-sm-4 .col-sm-3 {
        width: 75%;
    }

    .multi-form-group .col-sm-4 .col-sm-4 {
        width: 100%;
    }

    .multi-form-group .col-sm-5 .col-sm-1 {
        width: 20%;
    }

    .multi-form-group .col-sm-5 .col-sm-2 {
        width: 40%;
    }

    .multi-form-group .col-sm-5 .col-sm-3 {
        width: 60%;
    }

    .multi-form-group .col-sm-5 .col-sm-4 {
        width: 80%;
    }

    .multi-form-group .col-sm-5 .col-sm-5 {
        width: 100%;
    }

    .multi-form-group .col-sm-6 .col-sm-1 {
        width: 16.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-2 {
        width: 33.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-3 {
        width: 50%;
    }

    .multi-form-group .col-sm-6 .col-sm-4 {
        width: 66.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-5 {
        width: 83.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-6 {
        width: 100%;
    }

    .multi-form-group .col-sm-7 .col-sm-1 {
        width: 14.2857143%;
    }

    .multi-form-group .col-sm-7 .col-sm-2 {
        width: 28.5714286%;
    }

    .multi-form-group .col-sm-7 .col-sm-3 {
        width: 42.8571429%;
    }

    .multi-form-group .col-sm-7 .col-sm-4 {
        width: 57.1428571%;
    }

    .multi-form-group .col-sm-7 .col-sm-5 {
        width: 71.4285714%;
    }

    .multi-form-group .col-sm-7 .col-sm-6 {
        width: 85.7142857%;
    }

    .multi-form-group .col-sm-7 .col-sm-6 {
        width: 100%;
    }

    .multi-form-group .col-sm-2 .col-sm-offset-1 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-2 .col-sm-offset-2 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-1 {
        margin-left: 33.3333333%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-2 {
        margin-left: 66.6666667%;
    }

    .multi-form-group .col-sm-3 .col-sm-offset-3 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-1 {
        margin-left: 25%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-2 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-3 {
        margin-left: 75%;
    }

    .multi-form-group .col-sm-4 .col-sm-offset-4 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-1 {
        margin-left: 20%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-2 {
        margin-left: 40%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-3 {
        margin-left: 60%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-4 {
        margin-left: 80%;
    }

    .multi-form-group .col-sm-5 .col-sm-offset-5 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-1 {
        margin-left: 16.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-2 {
        margin-left: 33.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-3 {
        margin-left: 50%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-4 {
        margin-left: 66.6666667%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-5 {
        margin-left: 83.3333333%;
    }

    .multi-form-group .col-sm-6 .col-sm-offset-6 {
        margin-left: 100%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-1 {
        margin-left: 14.2857143%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-2 {
        margin-left: 28.5714286%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-3 {
        margin-left: 42.8571429%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-4 {
        margin-left: 57.1428571%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-5 {
        margin-left: 71.4285714%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-6 {
        margin-left: 85.7142857%;
    }

    .multi-form-group .col-sm-7 .col-sm-offset-6 {
        margin-left: 100%;
    }
}

/* this is from static/css/process_steps.css */

.donation-page-header {
    display: flex;
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.page-title {
    font-size: 36px;
    font-weight: 300 !important;
    flex-grow: 1;
    margin: 0;
}

.donation-progress {
    width: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
}

.donation-progress .progress-step {
    text-align: center;
    width: 24px;
    height: 24px;
    background: #aaa;
    color: white;
    font-size: 16px;
    line-height: 24px;
    border-radius: 50%;
}

.donation-progress .current-step {
    background: rgba(0,0,0,0.87);
}

.donation-progress .last-step {
    cursor: pointer;
}

.donation-progress .last-step:hover {
    background: #888;
}

/* this is from static/css/pledge.css */

body {
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 24px;
    color: rgba(0,0,0,0.54);
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin-bottom: 60px;
    width: auto;
}

.container:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.charities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin: -12px;
}

.charity {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 12px;
}

.charity .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.charity:hover .hover-overlay {
    background-color: rgba(170, 170, 170, 0.4);
}

.charity-info {
    flex-direction: column;
    display: flex;
    height: 165px;
    width: 250px;
    border: 1px solid #A3A3A4;
    border-radius: 2px;
}

.charity-info .charity-img {
    display: block;
    position: relative;
    margin: auto;
    vertical-align: middle;
    max-height: 115px;
    max-width: 200px;
}

.charity-info .charity-title {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    background-color: #E6EAEB;
    color: #333;
    margin: 0;
}

/* What is this transition for? */
/*.charity-info .charity-title, .charity-info .charity-img {*/
/*-webkit-transition: all 0.4s ease-in-out;*/
/*transition: all 0.4s ease-in-out;*/
/*}*/

.charity a.charity-details {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px 15px;

    /* Transition */
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    /*-webkit-transform: scale(1.5);*/
    /*-ms-transform: scale(1.5);*/
    /*transform: scale(1.5);*/

    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.charity:hover a.charity-details {
    background-color: #4c8fb1;
    opacity: 1;
    filter: alpha(opacity=100);
    /*-webkit-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*transform: scale(1);*/
}

.charity-title,
.charityClick {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.selected-charity-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    min-height: 100px;
}

.selected-charity-box .charity-img {
    max-height: 120px;
    max-width: 200px;
    margin: 0;
}

.selected-charity-box p.donation-info {
    text-align: left;
    margin: 0 0 0 12px;
}

/* Small screens */
@media all and (max-width: 500px) {
    .selected-charity-box {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        width: 100%;
    }

    .selected-charity-box .charity-img {
        margin: 12px 0 0 0;
    }

    .selected-charity-box p.donation-info {
        text-align: left;
        margin: 12px 0 0 0;
    }
}

#pledge-form {
    width: 100%;
    margin: auto;
}
#pledge-form h1 {
    font-size: 28px;
}

.donor-details-section {
}

.details-section {
    text-align: left;
    margin: 24px 0;
}

.details-section .long-control-label {
    padding-top: 0;
}
.button-row {
    /* -6px is to cover for the 6px margin on the buttons */
    margin: -6px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
}

.button-row button {
    width: 100px;
    height: 40px;
    margin: 6px;
}

.button-row input {
    height: 40px;
}

#form-donation-amount {
    margin: 6px;
    max-width: 150px;
    align-self: flex-start;
}

.payment-type button {
    margin-right: 6px;
}

#bank-transfer-instructions {
    margin: auto 5px;
}

p.help-text {
    text-align: center;
}

.form-actions {
    text-align: right;
}

.error-text {
    font-weight: 400;
    color: #a94442;
    margin: 4px 0 0 0;
}

.complete-next-steps {
    padding: 12px 24px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin: 20px 0;
}

.complete-other-info {
    margin-bottom: 30px;
}

/* Monochromatic colors of our base color*/
/* #4c8fb1, #44819f, #3d728d */
/* Dark tint: #2d556a */

/* Override bootstrap colors */
.btn-primary,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4c8fb1;
    border-color: #44819f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3d728d;
    border-color: #2d556a
}

/* These are all disabled states */
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
    background-color: #4c8fb1;
    border-color: #3c728d;
}

.payment-faq {
    margin-top: 30px;
}

.payment-faq .payment-faq-question {
    font-weight: bold;
    margin-bottom: 0;
}
.payment-faq  .payment-faq-answer {
    margin-bottom: 20px;
}

