.eaa-checkbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
  min-height: 25px;
}
.eaa-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--gray-100);
}
.eaa-checkbox:hover input ~ .checkmark {
  cursor: pointer;
}
.eaa-checkbox:hover input:not(:checked) ~ .checkmark {
  background-color: var(--gray-200);
}
.eaa-checkbox input:checked ~ .checkmark {
  background-color: var(--eaa-blue-400);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.eaa-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.eaa-checkbox .checkmark:after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.eaa-checkbox:focus-within .checkmark {
  outline: 2px solid var(--eaa-blue-600); /* Change color as needed */
  outline-offset: 2px;
  border-radius: 1px;
}