.radio-group input[type="radio"] {
  /* We don't completely remove this so that we can keep keyboard accessibility */
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
.radio-group input[type="radio"] + label {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid var(--eaa-blue-300);
  text-align: center;
}
.radio-group input:not([disabled])[type="radio"] + label {
  cursor: pointer;
}
.radio-group input:not([disabled])[type="radio"]:focus + label {
  outline: 2px solid var(--eaa-blue-600);
  outline-offset: 1px;
}
.radio-group input[type="radio"]:checked + label {
  background-color: var(--eaa-blue-400);
  color: white;
}
#custom-amount {
  display: flex;
  padding: 8px;
  border: 1px solid var(--eaa-blue-300);
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}
#custom-amount.selected {
  background-color: var(--eaa-blue-400);
  color: white;
}
#custom-amount input[type="radio"] {
  /* We don't "display: none;" this so that we can keep keyboard accessibility */
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
#custom-amount-input:focus {
  outline: none;
}
#custom-amount input[type="radio"] + label {
  padding: 0.5rem;
  flex-grow: 1;
}
#custom-amount input:not([disabled])[type="radio"] + label {
  cursor: pointer;
}
#custom-amount:focus-within {
  outline: 2px solid var(--eaa-blue-600);
  outline-offset: 1px;
}
#custom-amount input[type="number"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid var(--eaa-blue-300);
  width: 100%;
}
select,
input[type="number"],
textarea {
  display: block;
  box-sizing: border-box;
}