/*
  These colours were generated based on colours used at eaa.org.au
  and https://uicolors.app/create.
*/

:host {
  --eaa-blue-50: #edfefe;
  --eaa-blue-100: #d3f9fa;
  --eaa-blue-200: #acf2f5;
  --eaa-blue-300: #72e6ee;
  --eaa-blue-400: #32d1de;
  --eaa-blue-500: #16b5c4;
  --eaa-blue-600: #1592a5;
  --eaa-blue-700: #187485;
  --eaa-blue-800: #1c5f6e;
  --eaa-blue-900: #1c4f5d;
  --eaa-blue-950: #0d343f;


  --gray-50: #f6f6f6;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #231f1f;
  --gray-500: #737373;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --gray-950: #262626;
}
