.validate input:user-valid {
  box-shadow: inset 2px 0px 0px 0px green;
}
.validate input:user-invalid {
  box-shadow: inset 2px 0px 0px 0px red;
}

.validate input:user-valid::after {
  content: "✓11";
  color: green;
}