{% set eaa = salt['pillar.get']('eaa', {
    'system_user': {
        'name': 'eaa',
        'group_name': '',
        'full_name': 'Effective Altruism Australia',
        'home_dir': '/home/eaa',
        'shell': '/bin/bash',
        'system': true,
    },

    'roles': {
        'web': {
            'install_nginx': true,
            'install_supervisor': true,
        },
    },

    'git': {
        'settings': {
            'force_checkout': true,
            'force_clone': true,
            'force_fetch': true,
            'force_reset': true,
            'submodules': false,
        },
        'repositories': {
            'donation_portal': {
                'host': 'github.com',
                'fingerprint': '16:27:ac:a5:76:28:2d:36:63:1b:56:4d:eb:df:a6:48',
                'source': 'git@github.com:effective-altruism-australia/donation_portal.git',
                'target': '',
                'remote_ref': 'live',
                'local_branch': 'live',
                'private_key': '',
                'private_key_file': '',
                'use_ssh_agent': false,
            },
        },
    },

    'django': {
        'conf_template': 'salt://eaa/web/templates/django-settings.jinja',
        'conf_file': 'donation_portal/salt_settings.py',

        'venv_path': '',

        'apt_file': 'deps/apt',
        'pip_file': 'deps/pip',

        'debug': false,

        'allowed_hosts': [],
        'secret_key': '',
        'ssl_security_checks_enabled': true,

        'databases': {
            'default': {
                'name': 'donations',
                'user': 'eaa',
                'password': '',
                'host': '',
                'port': '',
            },
        },

        'redis': {
            'host': 'localhost',
            'port': '6379',
            'password': '',
            'database': '',
        },

        'postmark': {
            'api_key': '',
            'sender': 'donations@eaa.org.au',
            'test_mode': false,
            'track_opens': false,
        },

        'xero': {
            'rsa_key': '',
            'consumer_key': '',
            'incoming_account_id': '',
            'days_to_import': '365',
        },

        'enable_sentry': false,
        'sentry': {
            'dsn': '',
            'public_dsn': '',
        },
    },
}, merge=true) %}

{% if not eaa.system_user.group_name %}
{% do eaa.system_user.update({
    'group_name': eaa.system_user.name,
}) %}
{% endif %}

{% for repo_name, repo in eaa.git.repositories.items() %}
{% if not repo.target %}
{% do repo.update({
    'target': eaa.system_user.home_dir ~ '/' ~ repo_name,
}) %}
{% endif %}
{% endfor %}

{% if not eaa.django.venv_path %}
{% do eaa.django.update({
    'venv_path': eaa.system_user.home_dir ~ '/.virtualenvs/donation_portal',
}) %}
{% endif %}
